[2018-05-28 21:46] dancrumb opened #5 "[BUG]: ResourceServer sends `identifier` on Update"
When you try to update a resource server, you get the error:

[code]

This is because `identifier` is a read-only property of a resource server. Thus, it should not be sent along the the Management API on updates.

[2018-05-29 01:27] dancrumb opened #7 "readXXX functions should fully populate resource objects"
Right now, implementations of `readXXX` only partially populate the `ResourceData` objects.

It's tedious work, to be sure, but I think they should really be fully populating them. See, for example: https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_api_gateway_integration_response.go#L152

- [x] Clients (Applications)
- [x] Client Grants
- [x] Connections
-

[2018-05-29 04:29] #5 closed

[2018-05-29 09:17] alexkappa commented on #7
Yes, absolutely. We should do this to be in line with other providers and be consistent.

[2018-05-29 13:39] dancrumb commented on #7
I'm working on the Client resource today

[2018-05-29 18:31] dancrumb opened #9 "[BUG]: Client Grant sends `audience` and `client_id` on update"
I got this error:

[code]

Need to update the Client Grant resource not to send these on an update

[2018-05-29 19:13] #9 closed

[2018-06-04 16:18] fabriziomoscon opened #19 "rule regex doesn't accept - nor numbers"
This regex doesn't allow `auth0-authorization-extension` to be used, although the error says that numberd and dashes should be accepted.
https://github.com/yieldr/terraform-provider-auth0/blob/master/auth0/resource_auth0_rule.go#L27

[2018-06-11 15:08] alexkappa commented on #19
Solved by @fabriziomoscon himself at #20

[2018-06-11 15:08] #19 closed

[2018-06-12 13:36] dancrumb commented on #7
At long last, the PR is complete :)

[2018-06-12 14:18] alexkappa commented on #7
Thanks for the help on this @dancrumb !

[2018-06-12 14:18] #7 closed

[2018-06-12 15:05] dancrumb commented on #7
Thanks for your patience! This is the first time I've really written any Go, so it was a bit of a slog. but I'm excited to have this functionality!

[2018-07-18 10:27] rdark opened #24 "[BUG] Connection sends `strategy` and `name` on update"
Looks related to #9.

When using a connection with strategy `ad`, and attempting to update (e.g to add clients), provider sends along the strategy and name, and we then get back:  `400 Bad Request: Payload validation error: 'Additional properties not allowed: strategy,name'.`

Not got much spare time at the moment to submit a PR, but might do in a few weeks if you don't manage to get around to it

[2018-08-03 12:43] domg123 opened #26 "multiple enabled_clients in a connection causes (un-needed) update"
With a connection with multiple clients, a terraform plan/apply, with no changes, will be seen as having changed.

i.e.  From a local test

  ~ module.dev-auth.auth0_connection.my_connection
      enabled_clients.0: "C6Xzd6lSkJ4DeZaQtOFzGWbkpLdXbFY4" => "vegazNS4zcnGbIC7Vc70RzXrIbIWV1wM"
      enabled_clients.2: "vegazNS4zcnGbIC7Vc70RzXrIbIWV1wM" => "C6Xzd6lSkJ4DeZaQtOFzGWbkpLdXbFY4"

It seems lik

[2018-08-03 14:15] alexkappa commented on #26
Hi @domg123 thanks for submitting this bug report.

Could you show the terraform config you used? How can we reproduce the problem?

Cheers!

[2018-08-03 14:17] alexkappa commented on #24
Hi @rdark thanks for creating an issue. Could you paste a minimal `.tf` configuration that reproduces this bug?

[2018-08-06 08:28] #24 closed

[2018-08-06 09:31] alexkappa commented on #24
@rdark I've had some time to look into this, pr #27 should address this issue. Please let me know if you get around to testing it.

[2018-08-06 13:51] rdark commented on #24
Thanks @alexkappa! I should get some time tomorrow to take a look. Looks good at first glance though.

[2018-08-08 09:45] rdark opened #30 "[bug] Realm and Options handling for ad strategy connections"
Possibly two separate issues here, let me know if you want me to split. Only had an hour this morning to start troubleshooting, but just wanted to get something up to show where I was at with it.

1. Realms: AD connection strategies are a bit odd in the auth0 API; they have an implicit realm named after the connection, but you cannot set this or modify it. It seems in the current version on master

[2018-08-08 19:30] jeff-french opened #31 "Unable to use `addons` when creating client."
I'm attempting to create a client (application) with the `samlp` addon configured. I can't seem to get the right syntax.

[code]
Running `terraform plan` results in the error:

[code]

So I changed my declaration to:

[code]

With this change I can now run `terraform plan` successfully, but when I run `terraform apply` I now get an error from the Auth0 API:

[code]

So it would appear that the pro

[2018-08-09 07:27] alexkappa commented on #31
Hi @jeff-french thanks for submitting this. It seems the `addons` property is not properly defined in the terraform schema.

I'll try to work on this on the short term, but if you can give it a try yourself it would be a lot of help.

Cheers,
Alex

[2018-08-09 11:46] alexkappa commented on #31
@jeff-french could you kick the tyres on #32 and let me know if we're on the right track?

[2018-08-09 13:09] alexkappa commented on #30
Hi @rdark I am afraid we this relates to the (mis)handling of zero values from Go structs. This means a property that is set to a "zero" value (i.e. `0`, `false`, `""`) will be omitted from the json output.

To address this, I've changed the yieldr/go-auth0 library to use pointers instead. Making any non nil pointer serializable by json.

I plan to merge this in as soon as possible, but since it i

[2018-08-09 13:50] rdark commented on #30
Awesome. Thanks @alexkappa!

[2018-08-09 15:50] jeff-french commented on #31
@alexkappa Thanks for the quick response and PR! Unfortunately, it still didn't quite meet my use case. It appears that it works fine for setting first level primitive type properties of the addon but can't handle nested maps or lists.

Here's the full `addons` block I'm trying to use to configure the `samlp` addon:

[code]

When I try to run a plan I get this error when it hits a nested map:

[co

[2018-08-09 16:27] jeff-french commented on #31
I can't seem to find any authoritative source for the schema of all addons. After looking through UI I it may be that most or all addons only use first level primitive options (with the obvious exception of the `samlp` addon. So it may be enough to simply specify the full parameter schema for the `samlp` addon and the others will "just work" with the implementation in #32. I'll play this some more

[2018-08-14 08:51] alexkappa commented on #31
Hi @jeff-french, I'm torn as to which direction we should take on this. On one hand we could use json as you mention yourself, but I find it a little ugly to mix HCL and JSON and would prefer to avoid it if we can. On the other hand we either need to define all the properties of each addon which makes it pretty impractical in the long run. Perhaps defining the schema for `samlp` only which uses ne

[2018-08-14 15:47] jeff-french commented on #31
That's the approach I ended up going with. I've got a set of updates to both the underlying `go-auth0` library as well as this provider. I'm still doing some testing on them but I will hopefully get some PRs up later today.

[2018-08-14 21:01] jeff-french commented on #31
@alexkappa I've pushed up PRs at yieldr/go-auth0#14 and #35. I don't have much experience writing Golang so I'm not sure where to go from here.

[2018-08-20 11:13] HawaiianSpork opened #39 "Error Importing Non-blank Client"
Terraform Crashes when importing a non-blank client.  It worked fine when importing a blank client.

[code]

Terraform v0.11.7

[2018-08-20 11:48] alexkappa commented on #39
Hi @HawaiianSpork thanks for submitting an issue. Could you clarify what you mean by a blank vs a non-blank client?

[2018-08-20 14:06] HawaiianSpork commented on #39
oh, sorry. When I say blank.  I mean I create a client in the Auth0 UI and don't do anything to it.  I'll see if I can figure out what configuration option is not being imported.

[2018-08-24 06:12] nagoh opened #40 "options.password_history not able to be set"
Hi, could very well be a case of user error here as new to TF.

Getting an error with the following
[code]

This is returning me the following error:

Hope someone can help
Regards

[2018-08-24 07:56] alexkappa commented on #40
Hi @nagoh, the documentation on connections from Auth0 Management API is not defined for `password_history`. It just specifies it as an object, therefore I implemented it in both terraform and the auth0 sdk as a `map[string]interface{}` and left it up to the user to define the fields they need.

I also see some typo's from your end, which might explain the errors you're receiving. The first exampl

[2018-08-24 08:01] nagoh commented on #40
Hi - thanks for the response.

Yeah sorry I didn't articulate that 2nd part of my issue well.

This is the section that I used:
[code]
And I got:

[2018-08-24 22:59] nagoh commented on #40
There is simply an `object` type (rather unhelpfully) defined here: https://auth0.com/docs/api/management/v2#!/Connections/post_connections

Though, if you inspect the JSON payload from the GET endpoint (when debugging via the web admin console), those values (enable & size) are being returned as a boolean and number respectfully.

If you want to get that one done, I'd be happy to help cleaning up

[2018-08-26 19:28] hypnoglow opened #42 "Enrich "options.validation" for Auth0 connection."
As Auth0 documentation states, there is a "options.validation" (defined
as an object), that can be applied to a Connection. Sadly, there are no specific documented
properties for that.

## The use case and the problem

I want to set username min and max length for Auth0 database
connection - that options are available to configure through Auth0 UI.

To configure them through the Management API, I

[2018-08-26 19:33] hypnoglow commented on #42
I made it work for the provider using the following code: https://github.com/yieldr/terraform-provider-auth0/pull/43

But that thing looks ugly, especially that mess with `[]map[string]interface{}`-s and similar. I wonder if there is a better way to support validation properties.

[2018-08-27 05:01] luvLinux opened #44 "Connection created but "options" are not in request"
Below is my terraform. Options doesn't seem to present in the request

[code]

From Auth0 log, the body section doesn't have options

[code]

[2018-08-27 14:39] domg123 commented on #26
Hi, sorry for the delay.

So, attached is a file you can use to recreate the issue.

[multiple_client_issue.txt](https://github.com/yieldr/terraform-provider-auth0/files/2324250/multiple_client_issue.txt)

Steps. (assuming valid provider available)
1) rename to a tf file
2) terraform apply
3) terraform plan

At step 3, despite no changes, you will frequently see the output below.  If you don't get

[2018-09-24 16:27] #40 closed

[2018-09-24 16:30] alexkappa commented on #44
@luvLinux I've made some significant changes to the provider as a whole (#34) and I suspect your issue would be addressed. Could you test using the latest release and let me know if you are still experiencing this problem?

[2018-09-24 16:41] alexkappa commented on #30
This issue is addressed in the latest releases. Please give it a try and let me know :)

[2018-09-24 16:41] #30 closed

[2018-09-24 16:45] alexkappa commented on #26
Hi @domg123, I believe the bug was due to the [ListType](https://www.terraform.io/docs/extend/schemas/schema-types.html#typelist) in terraform being ordered and we were forcing our own ordering on top of it.

It could be solved by ordering the list of clients differently, but honestly, I find it a bit weird to resort to such a solution.

I will continue to research the topic in hopes to find somet

[2018-09-24 16:47] alexkappa commented on #39
@HawaiianSpork could you please tests against the latest release and let me know if the problem persists?

[2018-09-24 16:52] alexkappa commented on #40
@nagoh the latest release should address this issues and you should be able to set password history correctly. Please let me know if you have any feedback!

[2018-09-24 20:10] rdark commented on #30
Thanks so much @alexkappa. Can confirm that specific issue 1 above is fixed in this release.

[2018-10-08 21:46] dancrumb opened #48 "Add support for hooks"
Looks like we have support for rules; hopefully adding support for hooks would be similar and could be implemented.

[2018-10-08 21:55] dancrumb commented on #48
So, I guess hooks are not remotely like rules :/

Per this forum: https://community.auth0.com/t/manage-hooks-via-webtask-api/8392 you have to use a different API to manage them.

[2018-10-10 10:06] alexkappa commented on #48
If it's a separate API I'm not sure there's much we can do at this point. Let's hope Auth0 supports it via their management API, otherwise, even a whole separate terraform provider could be the way to go.

[2018-10-29 14:25] dancrumb opened #49 "Expose Client secret (in a safe way)"
The AWS provider has the ability to expose access secret keys encrypted with PGP. This makes it possible to manage things without having to connect to AWS to get hold of secrets.

It would be useful to be able to do the same with Auth0 Clients - exposing the client secret in an encrypted way, such that terraform users can then decrypt the keys and put them in an appropriate place.

[2018-10-30 17:29] dancrumb commented on #49
Hi @alexkappa, the use case here is for a client created using the provider. Once that client has been created, its ID can be output by terraform, but it would be good to be able to output its secret also... being able to encrypt the secret would make this a safe operation.

For the encryption approach, I was thinking something like this: https://www.terraform.io/docs/providers/aws/r/iam_access_ke

[2018-10-30 20:55] dancrumb opened #50 "Payload validation error: 'Too few properties defined (0), minimum 1' when creating client grant"
With the following resource definition:

[code]

I am getting the following error:

[code]

but there's not really any clear way to debug this... any pointers?

[2018-10-30 20:56] dancrumb commented on #50
This is a pre-existing resource... just trying to change the audience

[2018-10-30 21:15] alexkappa commented on #50
Hi Dan, could you try applying with `DEBUG=1` and `TF_LOG=1`? This should output debug information. What version of the provider are you running?

[2018-11-02 15:20] dancrumb commented on #50
Log is attached; I ran:

[code]
[auth0.debug.log](https://github.com/yieldr/terraform-provider-auth0/files/2543055/auth0.debug.log)

I'm using v0.1.3

[2018-11-02 15:26] dancrumb opened #51 "Add version to end of provider name"
Terraform uses the provider name to determine version information.

Thus, instead of

`terraform-provider-auth0`

the provider should be

`terraform-provider-auth0_vX.Y.Z`

[2018-11-03 13:13] alexkappa commented on #51
Hi @dancrumb, the version is already part of the archive.

From terraform’s [documentation](https://www.terraform.io/docs/extend/writing-custom-providers.html):

[2018-11-03 13:19] alexkappa commented on #51
My apologies, as described [here](https://www.terraform.io/docs/configuration/providers.html#plugin-names-and-versions) it is the right way to version providers.

[2018-11-03 13:21] #51 closed, assigned to nobody

[2018-11-03 13:54] alexkappa commented on #50
@dancrumb there's a lot of noise in the file, making it a little hard to pinpoint. I'll keep digging though, see if I can find the root cause. My hunch is somewhere between clients and client grants and them agreeing which grants are defined. But I have to look further.

The file you attached, might contain sensitive information (not sure if it's encoded or not). You might want to take it down...

[2018-11-03 14:55] dancrumb commented on #50
All the sensitive info is encrypted; thanks for checking though

On Sat, Nov 3, 2018, 08:55 Alex Kalyvitis <notifications@github.com wrote:

[2018-11-04 12:56] alexkappa commented on #39
Closing due to inactivity, the problem should be solved. If now, feel free to re-open

[2018-11-04 12:56] #39 closed

[2018-11-04 12:56] #48 closed

[2018-11-04 18:04] danielepolencic opened #55 "Provider crashes when custom domain is verified"
The API doesn't return the verification field when the custom domain is verified.

[code]

When the custom domain is verified, `c.Verification.Methods` doesn't exist and the provider crashes.
Affected line: https://github.com/yieldr/terraform-provider-auth0/blob/5cae09177f62e6c6d524f227ce19b51c1a8000e3/auth0/resource_auth0_custom_domain.go#L87

Error in TF:

[code]

I wish I knew more Golang to ra

[2018-11-05 13:05] alexkappa commented on #55
Ah, sorry about this @danielepolencic. I believe it should be easy to fix.

[2018-11-07 12:38] #55 closed

[2018-11-07 20:12] danielepolencic opened #57 "Publish provider to the official Terraform registry"
The provider doesn't cover all resources for Auth0, but it's usable in its current form (I can't say the same for official providers such as the Kubernetes provider).

I think you should publish it to the official registry. If this is not in your interest, feel free to close this issue.

[2018-11-09 15:40] alexkappa commented on #57
You are right, publishing this would make it way easier for users to install/upgrade. I engaged with hashicorp earlier on the development of this project, maybe its good time to finalize that.

I'll take that as a compliment 😄

[2018-11-10 01:36] mattfysh commented on #50
I just ran into this issue too, trying to create a new client grant with `scope = []`
I noticed when terraform previews the plan, that scope is not listed among the other properties (id, audience, client_id) ... not sure if it's a terraform issue, or a bug with the plugin, but the empty scope array appears to be getting dropped and not sent to the Management API.
I've also manually created a clien

[2018-11-10 08:33] mattfysh commented on #42
also running into something similar, trying to set `options.client_id` and `options.client_secret` on a github connection

[2018-11-10 19:55] danielepolencic opened #59 "Disabling google-auth2"
google-auth2 is enabled by default with each new client.
I tried to read the code, but I can't seem to find any way to force *not* creating the connection.

Is there any known workaround to not have google-auth2 as part of every client?

[2018-11-11 09:46] alexkappa commented on #59
Hi @danielepolencic, I am unable to reproduce this issue. Running the client example from the [`example/`](/blob/master/example/client/main.tf) directory enables the `Username-Password-Authentication` connection by default (also not ideal).

Perhaps Auth0 chooses a default connection depending on the existing settings? I don't know if this is documented somewhere.

[2018-11-14 16:47] alexkappa commented on #31
Closing this one as implemented in #35 and #58

[2018-11-14 16:47] #31 closed

[2018-11-29 08:58] dassbj01 opened #61 "auth0_client client_metadata causes terraform crash"
resource "auth0_client" "scheduling_app" {
  name            = "Scheduling App"
  description     = "An OIDC compliant authorization client for the scheduling backend .. Backend security (Managed by Terraform)"
  app_type        = "spa"
  is_first_party  = true
  oidc_conformant = true
  callbacks       = ["${var.application_base_url}${var.callback_endpoint}"]
  allowed_origins = ["${var.applicati

[2018-11-29 09:01] dassbj01 commented on #61
same result if you try to add client_metadata to the auth0_connection resource

[2018-11-29 09:06] alexkappa commented on #61
Hi @dassbj01, could you re-run using `TF_LOG=DEBUG AUTH0_DEBUG=1 terraform apply` and upload the crash log to a gist? Which version of this provider are you using?

[2018-11-29 09:20] dassbj01 commented on #61
sure :
https://gist.github.com/dassbj01/733ccacc6a9120018e8b72c00fda804d

provider version is master head (build locally, as we run terraform using docker and therefor we do build all non official plugins)

[2018-11-29 09:22] dassbj01 commented on #61
and thx for prettifying my issue

[2018-12-04 12:32] alkar opened #63 "samlp addon configuration is not valid"
When using the `samlp` addon configuration block, the generated configuration uses attribute names [as defined on the schema](https://github.com/yieldr/terraform-provider-auth0/blob/master/auth0/resource_auth0_client.go#L597). However, the actually configuration JSON uses camelcase for the attributes.

For example setting `name_identifier_probes` generates a config like:
[code]
If setup through th

[2018-12-04 13:02] alexkappa commented on #63
Hi @alkar, thanks for reporting this. Unfortunately, Auth0 doesn't document the addon's very well and it's a trial and error process on our part. It should be a straightforward fix I hope, so I might be able to patch this soon. Meanwhile, if you're feeling adventurous please feel free to give it a go :)

[2018-12-04 17:51] alkar commented on #63
I'll have a go at it, seems like an easy change. Wondering if you'd rather go with something like https://github.com/iancoleman/strcase or would rather have a solution based on the standard library?

[2018-12-05 14:43] alkar commented on #63
@alexkappa I've [made some progress](https://github.com/yieldr/terraform-provider-auth0/compare/master...alkar:samlp-config) in converting the keys to what is expected by the sampl plugin.

I wanted to add a couple more changes that address default and empty values: since `sampl` has its own set of defaults, I think it would be better (as in, safer and easier to maintain) to rely on the upstream d

[2018-12-17 17:12] mbelang commented on #57
Is there a follow up on that? It would be (a lot) more convenient to have it part of the official repo :joy:

[2018-12-19 11:07] alexkappa commented on #57
@mbelang yes, I've contacted Hashicorp they let me know that someone will be looking into the project and leave their remarks in the form of Github issues. I haven't heard back since that time, I can send them a reminder.

[2018-12-20 11:38] mbelang commented on #57
It's a shame that we need to go through them for that... So much for Open Source. BTW, your provider is working well for us!

[2018-12-20 12:35] alexkappa commented on #57
Well, if this provider does get approved, it becomes part of the hashicorp.io documentation and such which gives shifts some responsibility to Hashicorp themselves as it gets their stamp of approval, so I can understand their motives in this sense :)

Thanks, @mbelang, much appreciated, and I'm glad you find it useful!

[2018-12-20 12:41] alexkappa commented on #63
@alkar I think it's a good way to go to define arbitrary JSON as it leaves the flexibility up to users. Given the state of addons in the Auth0 API, it's hard for us to maintain this cause of the lack of documentation (btw I've contacted their support team about it).

But it will pose a problem with users who already make use of addons defined the current way as this would be a backward incompatibl

[2018-12-20 13:01] alkar commented on #63
@alexkappa Much agreed! I've not progressed any further on that branch, happy to work on a PoC and share.

I would argue that given the provider is still on `0.1.x` there shouldn't be much relying on API compatibility between versions (I know I don't). Also, the current implementation produces invalid config so even if users *do* use it, it's going to be an actual fix and worth breaking the API fo

[2019-01-07 17:17] kevinohara80 commented on #40
I'm still getting this issue in `0.1.11`

My example:

[code]

Errors with:

[code]

[2019-01-07 17:31] kevinohara80 commented on #40
Oh I see now...The [example](https://github.com/yieldr/terraform-provider-auth0/blob/master/example/connection/main.tf) still has the properties as bool and number. That should be updated since it's expecting strings only:

[code]

I can send a PR for that if you like.

[2019-01-07 18:07] kevinohara80 commented on #59
I think the issue is that if the google-oauth2 connection is enabled at all, it's default-on when creating a new connection.

[2019-01-08 01:19] cgriggs01 opened #70 "Terraform Provider Development Program - Initial Review"
Hey Team, 👋 My name is Chris, I'm a member of the Partner team @ HashiCorp.

I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking items and discussion. The review was done on the master branch at git commit `10a

[2019-01-14 14:39] alexkappa commented on #70
Hi Chris,

Thanks for your review!

I have some answers to your questions and will create PRs to address the points you mention.

This depends on the credentials you used to run the tests. In our [CI environment](https://app.wercker.com/Yieldr/terraform-provider-auth0/runs), I'm using our company's account which is paid and allows us to run the Custom Domain tests as well.

We currently use a `Mak

[2019-01-14 19:55] cgriggs01 commented on #70
Hey Alex,

Thanks for the responses and questions.

- As for the CustomDomain test, do you have any idea they this test continues to fail when I run them from my local machine?

- We have standardized on `GNUmakefile` because there have been some issues running `Makefile` has had issue running on Windows machines.

The Changelog is required for the release from our side. Once the provider complete

[2019-01-15 08:55] alexkappa commented on #70
Hi Chris,

About the CustomDomain, it really depends on your Auth0 account. If the credentials you used to run the test are of a free account, the Auth0 API will respond with 403 error code as you are not allowed access to that resource:

To test it locally, you must have credentials from a paid account. I have reached out to Auth0 if they could sponsor this project by means of a paid account, but

[2019-01-16 11:56] andyhd commented on #59
I think that when you create a new client/application in Auth0, all existing connections are enabled by default.

Specifying which connections are enabled/disabled for a new client is controlled by adding/removing the client ID to each connections `enabled_clients` list (this seems backwards to me).

At the moment, I think the only way of controlling this is to create the connection with the list

[2019-01-18 13:30] alexkappa commented on #50
I've merged the referenced PR to remove `omitempty` from `scope` and cut a new release. Could you test it with that and let me know if it resolves this?

Best,
Alex

[2019-01-21 11:04] robertstettner opened #74 "Problem with creating client"
Hi,

I am using the latest v0.1.12, and I am having an issue creating an Auth0 Client Application, here is my stanza:

[code]

And here is the stack trace:
[code]

Could you please help?

[2019-01-21 14:57] robertstettner commented on #74
Same output as above, nothing new.

[code]

[2019-01-21 15:16] robertstettner commented on #74
Sorry my mistake, I was putting in the client secret into the domain parameter of the auth0 provider. Stupid me.

So request was failing because it wasn't a valid domain. Would've been nice to have a friendly error message.

[2019-01-21 16:00] alexkappa commented on #74
Yes, that confirms my suspicion :)

Indeed a proper error message should be returned in this case. I'll keep this ticket open then, but rename it so we can keep track of it.

[2019-01-21 16:22] #74 closed

[2019-01-23 17:27] jasonkuhrt opened #75 "rule creation leads to enabled rule, always"
Direct API call such as the following does the right thing:
[code]

However using this terraform provider does not:

[code]
[code]

The immediate second apply is demonstrates the bug.

I would love to see the raw underlying http request being sent by this provider but it being https traffic I didn't find a trivial way to sniff it (ngrep, tcpdump, etc.).

[2019-01-28 14:08] jasonkuhrt commented on #75
Results, filtered for searching for keyword `enabled`

[code]
Starts to go wrong here:
[code]
[code]
[code]

[2019-02-13 17:05] salikov1809 opened #77 "`terraform refresh` fails with 404 when an Auth0 resource was destroyed manually"
`terraform refresh` fails with 404 when some of the managed auth0 resources have been manually destroyed. `apply` and `destroy` commands will also fail due to the same reason and the only way to recover is to manually remove the affected resources from the state.
Other providers deal with such issues by silently removing the resources which are no longer present from the state during refresh.

Exa

[2019-03-05 13:31] meza opened #83 "Support `token_lifetime_for_web` for `auth0_resource_server`"
Currently there seems to be no way of setting the token lifetime for web setting on the resource servers which means that they all need to be manually adjusted if the defaults are not good.

[2019-03-05 14:55] charlyinalbon opened #85 "Feature request: Support Authorization Extension"
We are using the authorization extension. Would be great if this can be terraformed as well.

docs: https://auth0.com/docs/extensions/authorization-extension/v2
api: https://auth0.com/docs/api/authorization-extension#introduction

[2019-03-06 10:35] #83 closed

[2019-03-07 09:00] alexkappa commented on #85
Hi @charlyinalbon, the extension is largely a standalone app deployed in webtasks (a sister project of auth0). It communicates via auth0's api via rules as far as I can tell, so that part you can already do with this provider.

It was requested previously to support the webtasks api from this provider but I believe it is out of scope for this project.

[2019-03-11 15:48] jasonkuhrt opened #86 "error on identifier update for all respective grants"
Changing the `identifier` e.g.:

[code]

plan, e.g.:
[code]

<details>
<summary>apply, fails for all grants (7), e.g.:</summary>

[code]

</details>

[2019-03-11 16:02] jasonkuhrt commented on #86
One observation:

Its wrong that the provider treats identifier as `update`able, its not, it should force destroy+recreate, based on limits of the underlying auth0 api.

[2019-03-12 14:33] alexkappa opened #87 "Create terraform.io provider documentation"
In order to participate in the provider developer program, each Terraform provider must have its own terraform.io website documentation that should reside under a website/ directory. There should be a page for each resource and data source as well as an index page for the provider. Along with with must be a ruby layout file to represent the side bar directory.

[2019-03-12 14:42] alexkappa opened #88 "Format CHANGELOG to conform to the terraform provider developer program"
In order to participate in the terraform provider developer program, each Terraform provider must have a CHANGELOG that is updated during reach release. Since the changelog is updated by a bot during the release it must be in a certain format. With the AWS provider changelog as an example, the version of the nexte release should be tagged as “(Unreleased)” and will then be updated with a date by t

[2019-03-12 14:45] alexkappa opened #89 "Use TravisCI as a CI tool to conform with the terraform provider developer program"
All providers in the terraform-providers/ GitHub org have a TravisCI check run on each PR that is opened.

Can you please update your `.travis.yaml` file to make the [standard configuration](https://github.com/terraform-providers/terraform-provider-null/blob/master/.travis.yml)

See #70 for the initial review by the Terraform partner team

[2019-03-14 15:53] alexkappa commented on #75
Hi @jasonkuhrt I am able to reproduce the error quite consistently, but I haven't quite figured out how to fix it yet. I'll update once I make some progress.

[2019-03-18 09:49] sinnedh opened #93 "Signing secret in ResourceServer can't be updated"
When a ResourceServer is created with `signing_alg = "HS256"` a signing_secret is created from Auth0. However this signing_secret is not stored in the state and when the `terraform plan` is called again the provider trues to set the `signing_secret` to empty string.

[code]

This results in an error from the Auth0 API:
`400 Bad Request: Payload validation error: 'String is too short (0 chars), min

[2019-03-18 16:05] jasonkuhrt opened #94 "grant scopes empty array sent as null leading to 400 response"
[code]
[code]

It seems that the changes in https://github.com/yieldr/go-auth0/pull/29 were not enough 🤔

[2019-03-19 18:09] oderby commented on #94
I can also confirm - seeing the exact same behavior here as well, both when creating (POST) or updating (PATCH) client_grants.

Workaround of putting in a bogus scope string (suggested at https://github.com/yieldr/terraform-provider-auth0/issues/50#issuecomment-437546429) works for me for now.

[2019-03-22 23:31] oderby opened #96 "Creating a client with is_first_party = false requires terraform applying twice"
Noticing a strange behavior when trying to create third party clients (applications) via terraform (that is, when `is_third_party = false`) - the flag does not appear to take when the client is created, but does on subsequent updates.

[code]
When running `TF_LOG=DEBUG AUTH0_DEBUG=1 terraform apply`, see the following relevant outputs (full output can be viewed [here](https://gist.github.com/oderb

[2019-03-22 23:36] oderby commented on #96
Note - when I manually create a new client via curl, it works as expected:
[code]
Auth0 returns
[code]

[2019-03-22 23:37] oderby commented on #96
Also, I'm seeing the exact same behavior when I set the `custom_login_page_on` to `false` - that setting doesn't seem to be respected on creation, only on updates.

[2019-03-25 13:00] alexkappa commented on #88
Solved with the most recent release

[2019-03-25 13:00] #88 closed

[2019-03-25 14:37] #89 closed

[2019-03-25 14:44] alexkappa commented on #70
Hi @cgriggs01, I believe most of the items in your feedback have been addressed. Would you mind having another look and let me know how we can continue?

With regards to the documentation, the work is under way and the skeleton is there but we haven't documented all the resources yet. We also had some trouble with the website, [please see this issue](https://github.com/hashicorp/terraform-website/

[2019-03-26 18:36] r24mille commented on #85
Good news on this issue! Role-Based Access Control was announced via a Support Center notification 12 days ago. The Authorization Extension is being phased out during 2019 in favor of an "Authorization Core" feature. They've started with Role-Based Access Control.

https://auth0.com/docs/authorization/concepts/rbac#role-based-access-control-in-auth0

So I think authorization may be a more tractabl

[2019-03-27 08:04] laurentdutheil commented on #26
might be fixed with #95

[2019-03-27 09:55] alexkappa commented on #85
Good news indeed! I'll give some time if there are any takers to add support for roles in the go sdk, otherwise I'll try to take a stab at it soon.

This is definitely something that belongs in the provider, no doubt.

[2019-03-27 16:06] kevinohara80 commented on #63
Hey, any progress here? Just discovered this the hard way.

[2019-04-01 13:26] sinnedh commented on #93
This is probably related to https://github.com/go-auth0/auth0/pull/21

[2019-04-05 08:31] ForbesLindesay commented on #50
@alexkappa I just experienced the same error when modifying an auth0_client resource. The only thing I had changed was removing the `allowed_origins` and `web_origins` properties. The plan then looked like:

[code]

Changing another value (removing one of the scopes) allowed me to run `terraform apply` without errors, but it didn't actually update the allowed_origins or web_origins to remove the v

[2019-04-09 16:27] sinnedh commented on #93
This can be solved by marking the `signing_secret` as `ignore_changes` in the

[code]

[2019-05-06 18:32] dukedave opened #101 "Terraform 0.12 support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-05-21 16:11] kevinohara80 opened #104 "404 Errors when updating auth0_email_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-06-12 15:06] mguthrie88 opened #109 "Support for Credentials Per Workspace"
We use several different environments for our infrastructure, and we use terraform workspaces to separate environment context. It would be great to be able to switch auth0 credential sets according to the terraform workspace that we're in, much like we can do with the AWS provider. Right now we have to run a wrapper shell script around terraform because we need to set the environment variables acc

[2019-06-24 14:59] ltiessen commented on #85
I see you added the roles support in the go sdk @alexkappa (https://github.com/go-auth0/auth0/pull/37), any chance you've had time or will soon have time to add that support to this provider?

[2019-07-02 10:39] etiennetremel commented on #101
https://github.com/alexkappa/terraform-provider-auth0/pull/103 was merged into master and introduce Terraform 0.12 support. See v0.2.0 release note: https://github.com/alexkappa/terraform-provider-auth0/releases/tag/v0.2.0

[2019-07-04 12:28] tkeber opened #110 "app_metadata, user_metadata not passed to auth0 correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-07-19 20:27] gtirloni commented on #50
I'm facing the same issue with auth_connection:

[code]

[2019-07-22 20:35] alexkappa commented on #109
@mguthrie88 I'm not sure I understand the issue. Do you mean similar to how aws does with [shared credentials files](https://www.terraform.io/docs/providers/aws/index.html#shared-credentials-file)?

[2019-07-22 20:38] alexkappa commented on #101
As @etiennetremel mentioned this has been merged as part of #103. Sorry for the late reply, I must have missed this in my inbox

[2019-07-22 20:38] #101 closed

[2019-08-06 16:38] gtirloni commented on #104
Having the same issue with Terraform 0.12.6 and auth0 provider 0.2.0

[2019-08-10 20:01] kunickiaj opened #116 "Must import social provider before running TF"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-08-19 14:47] VincentHoang opened #118 "Support for passwordless connection email template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-08-19 15:28] rsalmond opened #119 "State is modified on update of user resource despite receiving a 400 from the API."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-08-19 15:37] rsalmond commented on #119
Just did a quick test and confirmed you can replicate this by taking the `@` sign out of the email address for the 2nd apply. The request will return a 400 and the state will be updated.

[2019-09-02 15:47] jfromaniello opened #123 "Missing dependency "git.apache.org/thrift.git""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-02 15:49] jfromaniello commented on #123
There is a possible solution in this issue:

https://github.com/hashicorp/terraform/issues/22664

[2019-09-05 00:30] ceralena commented on #116
In my experience, this is standard behaviour for terraform providers. It's not a great UX, but personally I'd be a) surprised, and b) slightly alarmed if this provider just did an import under the hood. Just my 2 cents.

[2019-09-05 00:41] ceralena opened #124 "universal login settings are not supported"
**NB**: we're more than happy to implement this and open a PR, but we thought we'd open a feature request first for any feedback or discussion.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please d

[2019-09-05 01:02] kunickiaj commented on #116
I agree with that--It's a weird case for TF though, because these connections always exist by default and can never be created by the provider.

[2019-09-05 08:45] alexkappa commented on #124
Hi @ceralena, thanks for submitting a request.

I believe Auth0 offers these settings as part of [Prompts](https://auth0.com/docs/api/management/v2#!/Prompts/patch_prompts) and [Branding](https://auth0.com/docs/api/management/v2#!/Branding/patch_branding) resources. In which case we could also follow suit and create two new terraform resources.

It would be great if you are able to contribute thes

[2019-09-06 05:56] ceralena commented on #124
Thanks for the prompt response. I'll have a look at all that and see what we can come up with. Thanks!

[2019-09-08 18:07] Sytten commented on #57
Any update?

[2019-09-13 02:08] bishtawi opened #127 "Password Dictionary option broken on Connection resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-18 07:16] edify42 opened #129 "Missing option in salesforce-community connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-23 22:04] #129 closed

[2019-09-25 05:39] bishtawi commented on #124
I tackled this in https://github.com/alexkappa/terraform-provider-auth0/pull/133

From the debugging I did, the Auth0 management dashboard modifies the tenant attributes and doesnt use Prompts or Branding at all.

[2019-09-30 04:24] edify42 opened #136 "New release >v0.2.0"
Hi @alexkappa

Any chance you can build and publish a new release? I'm guessing the CI isn't in a running state to publish the release automatically after merges to master?

[2019-10-04 05:39] stanhordiyenko commented on #57
Hi @alexkappa is there any update on this?

[2019-10-20 23:58] edify42 commented on #136
Hey @alexkappa - Any update on this?

[2019-10-21 14:56] alexkappa commented on #136
Hi Ted, I've just released v0.2.1 with the latest merged features and fixes. Thanks for your patience

[2019-10-21 14:56] #136 closed

[2019-11-19 01:03] edify42 opened #139 "Salesforce community base url not updating"
Hey @alexkappa  - Sorry but I made a mistake in my last PR and didn't include the code to update the buildConnection function.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1"

[2019-11-19 10:56] #139 closed

[2019-11-19 20:02] #85 closed

[2019-11-27 17:18] janfietz opened #141 "auth0_role recreates roles if user got the role assigned"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-27 19:24] scottx611x opened #142 "auth0_rule_config import unexpected "update in-place""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-05 16:27] wr0ngway opened #143 "Missing ability to set many of the options for the github connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-05 20:06] wr0ngway commented on #143
I think this may be a limitation with the auth0 api.  That is, I was also unable to set these properties using their api directly with curl:
[code]

For reference the update command doesn't list these options in the body in the example:
https://auth0.com/docs/api/management/v2/#!/Connections/patch_connections_by_id

Yet when I set them manually and fetch the connection, they do show up, so I could

[2019-12-05 21:18] wr0ngway commented on #143
Actually, I take that back - I was able to update using their api - was missing `--header "content-type: application/json"` in the curl command above.  So the issue stands, the API allows setting these options, but this provider doesn't support it yet

[2019-12-10 16:12] alexkappa commented on #143
@wr0ngway, some of these options are indeed not supported. I mostly based the implementation of both the SDK and this provider on the Auth0 API [docs](https://auth0.com/docs/api/management/v2/#!/Connections/patch_connections_by_id) and it seems to be undocumented.

I suspect some of what you want to set is prefixed with `ext_*` as there is some overlap there. Or we should implement the properties

[2019-12-10 16:17] alexkappa commented on #142
@scottx611x the Auth0 API doesn't return rule values. It's a write-only for security reasons and there is no way for this provider to import into the value property without it.

https://auth0.com/docs/api/management/v2/#!/Rules_Configs/get_rules_configs

[2019-12-10 18:06] scottx611x commented on #142
@alexkappa great thanks for the clarification 👍

[2019-12-10 18:06] #142 closed

[2019-12-11 13:30] rsalmond commented on #119
Since I can't remove the label I'll just add that I can still repro this issue and am happy to provide any debugging info that might help sort it out.

[2019-12-11 13:42] alexkappa commented on #104
Apologies for the noise. I was trying to cleanup / prioritize. As I have some time on my hands, I will look into the issue soon.

[2019-12-11 16:38] alexkappa commented on #119
@rsalmond thanks for the heads-up. I'll try to reproduce and get back to you soon. Sorry for the noise, I'm trying to organise / prioritize issues.

[2019-12-11 16:48] alexkappa commented on #119
@rsalmond I am not able to reproduce this issue. Executing the steps as per your bug report I do not receive any 4xx error.

See: https://gist.github.com/alexkappa/5dc5e1450c544a8f1ad51a4de94258ac

[2019-12-11 17:36] alexkappa commented on #119
*Update*: I am able to reproduce after following your suggestion to send a bad email.

After some debugging and digging in terraform documentation it seems to be expected behavior with terraform.

– [Error Handling & Partial State](https://www.terraform.io/docs/extend/writing-custom-providers.html#error-handling-amp-partial-state)

[2019-12-11 18:13] #104 closed

[2019-12-11 20:43] alexkappa commented on #110
Closing this since it has been fixed in #131.

[2019-12-11 20:43] #110 closed

[2019-12-11 20:46] alexkappa commented on #116
I agree with @ceralena, I don't think the provider should be doing any importing assumptions. Perhaps documenting this would be out best course of action.

[2019-12-11 20:58] alexkappa commented on #118
@VincentHoang do you mean adding the necessary fields to the connection resource? Indeed it doesn't seem to be documented by Auth0 but the app uses these fields to specify passwordless templates. A PR is welcomed if you can.

[2019-12-11 21:38] rsalmond commented on #119
Huh! Well in that case I am in your debt, today I learned something new about Terraform. Sorry for the wild goose chase and thanks for digging into this @alexkappa!

[2019-12-11 21:56] alexkappa commented on #124
I just merged in https://github.com/alexkappa/terraform-provider-auth0/pull/133 which adds support for `flags` and `universal_login` settings (thanks to @bishtawi).

Feel free to test it with the [v0.3.1](https://github.com/alexkappa/terraform-provider-auth0/releases/tag/v0.3.1) release.

[2019-12-11 21:56] #124 closed

[2019-12-11 21:58] alexkappa commented on #119
No worries at all @rsalmond!

[2019-12-11 21:58] #119 closed

[2019-12-11 23:05] alexkappa commented on #141
Hi @janfietz, could you provide some more elaborate reproduction steps? The example provided doesn't seem to have any relation to users.

Perhaps the Auth0 dashboard does some kind of housekeeping and deletes a role if its unassociated from all users? Of course this is just a guess, any help to validate this would be helpful.

[2019-12-12 10:21] alexkappa commented on #127
Closing as done. Once again, thanks for helping out Stephen!

[2019-12-12 10:21] #127 closed

[2019-12-12 10:31] alexkappa commented on #109
@mguthrie88 I feel that the aws credentials example is more integral to the [aws cli tool](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html), not the terraform provider necessarily.

Feel free to submit a feature request with https://github.com/go-auth0/auth0 though.

[2019-12-12 10:32] alexkappa commented on #123
The mentioned issue threads seem to have addressed the issue outside of the scope of this repo. Closing.

[2019-12-12 10:32] #123 closed

[2019-12-12 12:26] #93 closed

[2019-12-12 12:38] #86 closed

[2019-12-12 12:41] alexkappa commented on #70
@cgriggs01 would be nice to have another look at this. The tests now all pass since Auth0 has granted me a free open source account in which we can test custom domains properly.

[2019-12-12 13:28] alexkappa commented on #57
No update yet, please follow along the progress of the review here: #70.

If you want to help make this provider official, you can contribute by writing some documentation here: #87.

[2019-12-12 14:38] alexkappa commented on #96
Hi @oderby, it took a while 😅 but I have the feeling I came up with a solution. It's pending in a PR now but I'll merge soon after some more testing.

[2019-12-12 14:57] #96 closed

[2019-12-12 21:08] janfietz commented on #141
Hi

a minimal sample would be:
[code]

After apply it I used the auth0 dashboard to assign the role to my user.

I tried to apply it again with following output:

[code]
Hope that helps.
Thanx

[2019-12-12 21:31] alexkappa commented on #141
Hmm I think I understand whats going on. The user_ids are now changed since you’ve assigned a new user to that role.

Perhaps user_ids are defined with forceNew, which will drop and recreate the resource.

I am starting to believe that the best approach here is to split user assignment into its own resource (e.g. auth0_user_role) instead of letting the role own the relationship.

I’ll try and give

[2019-12-13 20:49] #141 closed

[2019-12-13 20:50] mmindenhall commented on #77
Please fix this.  As mentioned above, other providers (e.g., AWS) gracefully handle cases when resources created by terraform are manually deleted or modified via some other mechanism (e.g., AWS console).  I ran into this problem with Resource Servers, Clients, and Client Grants.

[2019-12-13 20:53] alexkappa commented on #77
PRs are welcome.

[2019-12-13 21:05] alexkappa commented on #141
@janfietz `auth0_role.user_ids` is now removed in favor of `auth0_user.roles`. This should make the owning entity of the relationship the user instead of the role.

I felt it easier to keep track of changes this way, as the role doesn't change, but who assumes the role does.

[code]

Also fixed some issues that user roles or role permissions wouldn't update correctly.

Feel free to give it a try u

[2019-12-16 09:10] rkhoriander commented on #87
Hi, @alexkappa. Just FYI, I'm working on docs for this now, so I'll have something for you very shortly.

[2019-12-16 09:45] alexkappa commented on #87
Wonderful @rkhoriander, looking forward to it. Let me know if I can help in the meantime.

[2019-12-16 22:28] ginman86 commented on #77
@mmindenhall in lieu of a PR you can manually remove items from state via

[code]

[2019-12-17 05:46] garthk opened #151 "Can't pass client_id to auth0_connection configuration without corruption"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-17 06:11] garthk commented on #151
Workaround: after using `auth0_client.custom_auth_db.client_id` in the `value` of an `output` without much trouble, I figured I could:

[code]

… which gave me a `configuration.AUTH0_CLIENT_BASE64` I could `JSON.parse` at the other end.

[2019-12-17 23:36] vmandrychenko commented on #50
We are still seeing this with  v0.2.0

[2019-12-18 08:13] alexkappa commented on #50
@vmandrychenko could you try with the latest release (v0.4.0)?

[2019-12-18 10:46] vidarw opened #152 "Rotation of Client Secrets in auth0_client"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-18 10:54] vidarw commented on #87
@rkhoriander Do you have a fork with the basic setup where I can contribute?

[2019-12-18 11:15] alexkappa commented on #152
Hi @vidarw, thanks for submitting this. Its an interesting idea, definitely worth looking into.

As you have already discovered directly setting the client secret is not supported by the auth0 api. But rotating the secret is.

Perhaps, we could have user settable field (e.g. client_secret_version), which when changed can trigger a secret rotation, updating the client_secret attribute.

The value o

[2019-12-18 12:55] vidarw commented on #152
Maybe implement it in a similar matter to the `null_resource` trigger? My impression is that it is a stored string value and it triggers a refresh if the string value changes. https://www.terraform.io/docs/providers/null/resource.html

Another option is to have a bool `rotate_client_secret`. This allows for easy use of different operational logic (modulo, specifict conditions, etc.).

The name mus

[2019-12-18 14:38] alexkappa commented on #152
This seems spot on, thanks for pointing it out. Only difference I think is that `null_resource` takes the shotgun approach and forces a new resource upon changing the `triggers` attribute. We will want to do our secret rotation instead.

They also define the `triggers` to be a map. I suppose it can be used to add metadata to each trigger. Not sure if we should take the same approach, maybe it's a

[2019-12-18 19:06] #152 closed

[2019-12-18 19:19] alexkappa commented on #151
Hi @garthk, I am afraid the values are encrypted by auth0 sever side as is done by rule configurations. I was not aware of this particular behavior to be honest.

I can take a closer look, but if its the case, there's not much this provider (or the sdk) can do.

[2019-12-19 00:07] #94 closed

[2019-12-19 00:07] #116 closed

[2019-12-19 00:07] #75 closed

[2019-12-19 00:07] #63 closed

[2019-12-19 00:07] #59 closed

[2019-12-19 05:49] garthk commented on #151
The values in the state above at `resources[1].instances[0].attributes.options[0].configuration` came from Auth0 rather than the `options.configuration` of the `auth0_connection.custom_auth_db` resource?

[2019-12-20 00:07] #109 closed

[2019-12-20 07:58] janfietz commented on #141
@alexkappa i tested version v0.4.0 and it worked as expected.

Good job.
Thank you

[2019-12-21 00:07] #49 closed

[2019-12-21 00:07] #42 closed

[2019-12-21 00:07] #26 closed

[2019-12-26 00:08] #50 closed

[2019-12-30 17:46] #77 closed

[2020-01-03 12:52] victorb commented on #118
I'm also interested in having this feature, will give a PR a try if I have spare time.

Something I noticed in the meantime, is that if you use the `email` strategy with this provider, it breaks the UI and the email templates, as Terraform is not passing enough attributes and seems the Auth0 API assumes you want to remove attributes if they are not passed.

So trying to use this provider with `ema

[2020-01-07 00:21] garthk opened #157 "Error: missing expected ["
After rebuilding `terraform-provider-auth0` when our cache expired over the holiday season, `terraform plan` fails with:

Bisecting from 8cceead to f3bab1e yields:

… which was 2019-09-12, so I guess we'd had it cached for a while. Checking the diff…

[code]

We're not using `password_dictionary`, but there is one in our state. `terraform state pull | gron | grep password_dictionary` yields:

Do y

[2020-01-07 00:37] garthk commented on #157
Workaround:

* `terraform state pull > state.json`
* Look for `"type": "auth0_connection"`
* Scroll down to look through the contents of any `.instances[].attributes.options[]` object
* Delete any line in that object containing only `"password_dictionary": {}`
* Scroll to the top
* Increment your `"serial"` number
* `terraform state push state.json`

My diff looked like this:

[code]

[2020-01-08 12:50] alexkappa commented on #157
Hi @garthk sorry for the inconvenience. I was not aware of state migrations, but I'll have a look in the case we can be more careful when breaking backwards compatibility in the future. Thanks.

[2020-01-11 22:06] stefangreim opened #158 "Feature Request: Install, activate and/or configure extensions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-13 12:56] victorb commented on #158
This would be great to have supported by terraform-provider-auth0. Also using the `custom-social-extension`, together with `Real-time Webtask Logs` and `Auth0 Authentication API webhooks`, which has to be manually copy-pasted right now.

[2020-01-14 13:01] alexkappa commented on #158
I am afraid this provider cannot offer such functionality. There is no public facing API that I know of that can manipulate these extensions.

Some inspection of the console when enabling extensions via the dashboard, it seems to use a sandbox domain (https://sandbox8-eu.it.auth0.com/api/webtask), which I don't even know how to authenticate with.

If/when Auth0 makes these resources available from

[2020-01-14 14:17] victorb commented on #158
@alexkappa Thanks for the answer. Sad to hear that... Hope it'll change.

Hey @jpadilla, @glennblock, @panga, @albertoperdomo, @twistedstream, @eugeniop and @kmaida

Any idea if there is plans on adding a management API for managing the extensions? Seems there is none currently and it's hard to build reusable and lasting configuration on top of Auth0 with Terraform without this.

[2020-01-14 18:38] stefangreim opened #159 "auth0_client_grant does not accept empty scopes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-14 18:42] stefangreim commented on #158
@alexkappa Thanks for the answer. Understandable. If it is possible in the near future, I would very much appreciate this feature. Looking forward...

[2020-01-14 22:33] garthk opened #160 "Can't set disable_clickjack_protection_headers = false"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-14 22:45] garthk opened #161 "auth0_email api_key thrash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-15 09:53] alexkappa commented on #159
@stefangreim, which version of this provider are you using? I believe this issue has been resolved. I've added [a test case](https://github.com/alexkappa/terraform-provider-auth0/commit/79da490af01f774b3705efac0f501c00fae74d6a) to client grants and I can submit empty scopes normally.

[2020-01-15 17:22] stefangreim commented on #159
@alexkappa v0.4.2
I found out the following: To create the client_grant, I have to use a non-empty scope. After the client_grant has been created, I can do an update with scope = [].  So, create doesn't work, update works.
I checked when the last change in the code was done and the last version was built. I assumed that this change was already included.

[2020-01-15 18:18] scottx611x commented on #159
I can confirm that a `terraform import` of an `auth0_client_grant` with `scope = []` works as expected

[code]

[2020-01-16 14:50] #159 closed

[2020-01-16 15:04] alexkappa commented on #159
I am confident the issue is resolved with #162. Feel free to try [v0.4.3](https://github.com/alexkappa/terraform-provider-auth0/releases/tag/v0.4.3) and let me know if all is well.

[2020-01-17 16:49] stefangreim opened #163 "auth0_connection does not accept bool values in options block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-17 16:52] stefangreim commented on #159
The error is resolved now. The grant works as expected.
Thanks!

[2020-01-21 16:39] alexkappa commented on #161
Hi @garthk, I think this is caused by the API not returning these sensitive fields back to us during reads.

In a PR migrating to the v3 version, I believe I have addressed the issue as we had with `access_key_id` and `secret_access_key` before.

Right now the fields `api_key`, `access_key_id`, `secret_access_key` and `smtp_pass` are not read back from Auth0, instead their values remain as they we

[2020-01-23 14:53] alexkappa commented on #161
v0.5.1 is released which should address this issue. Feel free to re-open otherwise.

[2020-01-23 14:53] #161 closed

[2020-01-27 12:16] dijitali commented on #87
Has the [move to the new Terraform Registry](https://www.hashicorp.com/blog/announcing-providers-in-the-new-terraform-registry/) for provider documentation changed the requirements here?  Are there guidelines yet on the format the docs need to be in?

[2020-01-28 16:56] alexkappa commented on #87
Hi @dijitali, the format is still the older one as advised by our contact at HashiCorp. It is largely compatible though so the switch should be relatively easy for this provider.

I will reach out to our contact again regarding this announcement and make sure we’ll be available there too.

[2020-02-06 14:55] apricote commented on #70
There is now a copied repository at [terraform-providers/terraform-provider-auth0](https://github.com/terraform-providers/terraform-provider-auth0). Its also included in the [official documentation](https://www.terraform.io/docs/providers/auth0/).

[2020-02-06 17:22] fetilla opened #167 "Allow use_scope_descriptions_for_consent flat in auth0_tenant"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-06 18:31] nirvdrum commented on #157
@garthk Thanks for the solution! We were on 0.3.1 and just ended up having problems because 0.5.1 is now available in the Terraform registry, so team members were picking up a new version inadvertently. We have multiple environments, managed with [atmos](https://github.com/simplygenius/atmos), so updating everything is going to be a bit painful. But, at least now I know what's going on and how to

[2020-02-12 20:34] erikburgess opened #169 "auth0_connector fails to create because of missing script property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 16:42] jesse10581 opened #170 "Add support for initiate_login_uri in auth0 client."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-14 11:29] alexkappa commented on #160
Hi @garthk, thank you for submitting this issue. As we've solved the previous bugs with zero values, unfortunately nested values inside maps still exhibit the bug.

I've added a [test case to the tenant](https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_tenant_test.go#L44-L56), so we can figure out a fix for it soon.

[2020-02-17 00:11] #143 closed

[2020-02-19 14:42] alexkappa commented on #170
Hi @jesse10581, this has been solved recently at https://github.com/terraform-providers/terraform-provider-auth0/issues/1.

Sorry about the confusion while we migrate.

[2020-02-19 14:42] #170 closed

[2020-02-19 14:59] alexkappa commented on #70
Hi @apricote. Was it not possible to fork, or transfer the repository in order to preserve issues or pull requests that are open?

Also, since the release process is handled by hashicorp staff, I removed the automation I had in place to make releases. I was told I would be invited to a slack channel where I could coordinate with hashicorp on releasing. Might you be able to help me out with that?

[2020-02-19 15:09] alexkappa commented on #169
@dmiller9911 any thoughts on how we might tackle this? Seems like there are more than one way to define scripts in the API.

Is there a plan internally to unify over a single one of these fields? Any idea why they are different?

[2020-02-19 17:20] apricote commented on #70
Hi @alexkappa,

I am not affiliated with Hashicorp in any way. I just found the new repository and thought that it is relevant to this ticket.

You will have to ask Chris (@cgriggs01) about the slack channel and any processes.

Best,
Julian

[2020-02-19 17:23] alexkappa commented on #70
My apologies, I was under the impression that you were from the hashicorp
folks.. 😅

I have sent Chris an email asking about this.

On Wed, 19 Feb 2020 at 18:20, Julian Tölle <notifications@github.com> wrote:

[2020-02-20 10:19] daviddunkley opened #173 "Support for Hooks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-20 10:54] alexkappa commented on #173
Hi David, thank you for your kind words :) If this project is valuable to you/your company please consider [sponsoring](https://github.com/sponsors/alexkappa) to help support the projects maintenance.

Hooks have been contributed to the project recently by @yinzara and await release.

As the project is transitioning to https://github.com/terraform-providers/terraform-provider-auth0/ to be listed a

[2020-02-20 18:02] dimitrit commented on #118
@alexkappa FYI I have implemented this in my [fork](https://github.com/dimitrit/auth0) of this project. I will wait for my auth0 library PR to be merged before creating a PR for this.

[2020-02-24 14:21] sarcasmboy opened #174 "Support samlp Connections"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-25 00:11] #151 closed

[2020-02-27 15:51] garry-jeromson opened #175 "0.5.2 fails during terraform plan when running in alpine-based Docker image"
When using the 0.5.2 binary, `terraform plan`fails with the following error:

[code]
The Docker image used is based on the latest 'alpine' image from DockerHub, currently version 3.11.3. Terraform version is 0.12.19.

The binary is correctly named according to the provider conventions, and the Terraform logs from the `terraform init` stage confirm that it can be loaded:
[code]

At first glance, th

[2020-02-27 16:43] alexkappa commented on #175
Hi @garry-jeromson, might it be related to the tag being a release candidate? I've published 0.5.2 today, so you might prefer to try it.

[2020-02-27 16:56] garry-jeromson opened #176 "0.5.2 release binaries don't include version number in filename"
The file naming convention for Terraform plugin binaries is `terraform-provider-<NAME>_vX.Y.Z` (see https://www.terraform.io/docs/configuration/providers.html#plugin-names-and-versions). Up until version 0.5.1, the release binaries available here on GitHub had this naming format; for version 0.5.2, the version tag is missing.

This would be nice to have, so that the binaries can be directly extrac

[2020-02-27 17:02] garry-jeromson commented on #175
Hey @alexkappa, thanks for the suggestion - the issue persists, however.

It'd be excellent if we could set `CGO_ENABLED=0` in the build environment to fix the issue - I'd do it myself but I'm not familiar with GitHub workflows.

[2020-02-27 17:19] garry-jeromson commented on #175
Hmmm, just saw that `CGO_ENABLED=0` is already set in `.goreleaser.yaml` (thanks for nothing, GitHub search function).

Are the current release binaries built using Travis or GitHub workflows?

[2020-02-27 18:29] garry-jeromson commented on #175
After some tests with local builds, I confirm that setting `CGO_ENABLED=0` before running a build results in a working version of 0.5.2 within an alpine-based Docker container. It would seem then, that this isn't being set for the release builds.

[2020-02-28 10:35] alexkappa commented on #176
It seems like when cloning the repository over to terraform-providers/terraform-provider-auth0 the [`.goreleaser.yml` file has been removed](https://github.com/alexkappa/terraform-provider-auth0/blob/3487b51e82824bf0dcd8f333d05d4d1978c9fb17/.goreleaser.yml). Likely because it conflicts with terraforms internal tooling.

So prior releases should have both `CGO_ENABLED=0` as well as the proper namin

[2020-02-28 10:56] alexkappa commented on #176
I've brought it back and re-released 0.5.2 in the same way I've done in the past. Please give it a try and let me know if it works for you.

[2020-02-29 22:02] garry-jeromson commented on #176
Works like a charm with the old release flow!

[2020-03-04 19:53] bishtawi commented on #70
@alexkappa Did you ever get in touch with the Hashicorp team about that cloned repo? Should we be switching over? I noticed this repo is at version v0.5.2 but the copied repo is at v0.6.0 but that copied repo doesnt have a changelog for v0.6.0, doesnt have a v0.5.2 release, and its v0.5.1 changelog doesnt match this repo's v0.5.1 changelog.

[2020-03-04 20:23] alexkappa commented on #70
I will be maintaining both for the foreseeable future so feel free to use
the one that suits you best.

I managed to get a release through Hashicorp (v0.6.0). I will be releasing
it on this repo as well but haven't gotten to it yet.

Its a process, and I will do my best to make sure that the community
doesn't suffer from the transition, but its not very easy for me as now I
have two places to deal

[2020-03-05 11:54] drazul opened #178 "Be able to configure the auth0_connection to use when create a new auth0_client"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-06 12:54] stuartwakefield commented on #50
Hi, this issue is still occurring with version 0.5 but for us it is happening using the `auth0_tenant` resource.

When we run the plan we see the following change:

[code]

Trying to apply the plan results in:

[code]

Attempting to resolve the issue by making the Terraform match the environment changes by adding an
`enabled_locales` field:

[code]

Any ideas?

[2020-03-12 17:59] scottx611x commented on #70
@alexkappa Would targeting one of the two repos in question make your life easier moving forward and/or in the interim?

[2020-03-12 18:01] alexkappa commented on #70
Yes, the current repo has most of the history so its best when triaging issues. So if you can, please prefer to do so here.

[2020-03-19 17:28] kevinohara80 commented on #157
Ouch, we just hit this one hard. Any plans to implement the state migration @alexkappa?

[2020-03-20 13:36] #176 closed

[2020-03-20 13:42] #173 closed

[2020-03-20 13:51] alexkappa commented on #174
Hi @sarcasmboy, to support SAML connections we'll need to implement options for it in the SDK first, as done in go-auth0/auth0/pull/104.

Then we are able to support it in the provider. Are you up for making a PR?

[2020-03-21 10:14] #163 closed

[2020-03-21 13:51] #167 closed

[2020-03-21 13:57] alexkappa commented on #167
Hi @fetilla, I've added it in and will release on monday as tf goes back to work. Thanks for submitting this.

[2020-03-23 00:09] #158 closed

[2020-03-23 18:00] maroux opened #181 "Crash on 0.7.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 18:29] alexkappa commented on #181
Hi @maroux I think I understand what the issue is. Thanks for reporting this. I'll work on a fix soon

[2020-03-24 10:41] #181 closed

[2020-03-24 11:44] alexkappa commented on #181
@maroux thank you again for filing this issue. The v0.8.0 release should have you covered.

[2020-03-24 12:38] icadariu-talend opened #183 "auth0_connection property options.password_dictionary.enable 400 bad request"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-24 13:03] alexkappa commented on #183
Hi @icadariu-talend what version of the provider are you using?

[2020-03-24 13:38] icadariu-talend commented on #183
I was using a very old version -  `0.5.1`. I am sorry for not checking this in the first place :(

Now this issue is gone, but it seems I will need to deal with other issues:
- I have tried to use `debug = true` on the auth0 provider but it doesn't seem to increase verbosity.

[code]

I will try to see if it's something wrong with my code after upgrading to 0.7.0 version.

[2020-03-24 14:04] icadariu-talend commented on #183
@alexkappa  Here is the debug message from terraform using TF_LOG=debug

[code]

[2020-03-24 15:20] alexkappa commented on #183
Please try using the v0.8.0 release that was published today. There was a bug that was reported yesterday on tenants. That might do it for you.

[2020-03-24 17:47] maroux commented on #181
awesome, thank you for quick turnaround!

[2020-03-24 18:46] maroux commented on #157
Hit this as well on 0.8.0. For me it was the type change of `auth0_connection.totp` in 86a18632c05906c2fa494e4e99bdb961f703cea4. Removing `totp` from state file as specified in the workaround worked - however I really don't like messing with state files manually.

[2020-03-24 19:35] icadariu-talend commented on #183
Hey Alex, so running the same code that works on `v0.5.1`(of course while commenting out password_no_personal_info,etc)  now returns:

[code]

[2020-03-25 08:22] alexkappa commented on #183
You might want to have a look at the solution mentioned here #157 .

[2020-03-25 10:32] icadariu-talend commented on #183
Thanks, removing totp from the state file fixed the issue.
https://github.com/alexkappa/terraform-provider-auth0/issues/157#issuecomment-603440102

[2020-03-25 10:33] #183 closed

[2020-03-25 13:32] icadariu-talend opened #185 "auth0_tenant - 400 Bad Request: Payload validation error: 'Too few properties defined (0), minimum 1'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 16:37] move[bot] opened #186 "auth0_client_grant does not change audience"
*@adamu commented on Mar 12, 2020, 2:23 AM UTC:*

### Community Note

*   Please vote on this issue by adding a <g-emoji class="g-emoji" alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">👍</g-emoji> [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintaine

[2020-03-26 00:56] yinzara commented on #185
Yeah I got the same issue. This happens when you make a change that removes elements that were already present and do not change any other attributes in the same apply.  Unfortunately this is really hard to handle as the logic is not completely clear.   Do you want to ignore the "change_password" and "error_page" attributes (as you have not specified them) or do you want to set the values of all t

[2020-03-26 01:00] yinzara commented on #178
This is unfortunately an aspect of how the Auth0 APIs work.  Clients don't have applications, applications have clients.  For you to add this client to a specific application, you would have to use an "auth0_connection" element and specify the 'enabled_clients' attribute as this client.

I know that's not the answer you were hoping for.

The only other option would be to develop a new resource typ

[2020-03-26 01:11] yinzara commented on #118
ROFL I literally just started to implement this myself.

Ok so there's an issue.

The Auth0 Golang library has just upgraded a major version to version 4.  I don't know if they'll accept a submission to add fields to version 3 so it might be a problem.

If we do want to upgrade to v4, I tested and all resources except Connection did not require a code change (other than changing the import).  The

[2020-03-26 01:53] yinzara commented on #118
I actually wrote a whole different response then saw Alex's changes for v4.

I think we're starting to get to a state where the "auth0_connection" does not mirror the Auth0 Go library anymore.   The generic 'options' now can be of 13 different types in which some of those types share field names that are of different types.  For example, the "email" connection type has an "email" option that is an

[2020-03-26 08:54] yinzara commented on #185
I've actually rethought my original statement and I actually think this is a bug.

How the provider generally works, if a resource isn't being created, it won't send a key on an update unless that key itself has changed. Unfortunately auth0 assumes in some of these cases that the key has changed.

The specific big culprits are the ones you mention (the custom html blocks in the auth0_tenant resour

[2020-03-26 09:34] alexkappa commented on #185
Thanks for jumping in @yinzara. The analysis makes sense really as this seems to appear with the tenant resource a lot the last couple of days. v4 shouldn't have had a huge impact on tenant but it had unfortunately and at this point I'm not 100% sure why. To start with, I think we need some tests to verify the broken behaviour 🤔

[2020-03-30 13:54] sharkyze opened #188 "auth0_role doesn't support more than 50 granted permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-30 19:39] icadariu-talend opened #189 "Universal login page not working as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 09:20] alexkappa commented on #189
Hi @icadariu-talend, perhaps you need to use the `auth0_global_client` instead.

[2020-03-31 09:43] icadariu-talend commented on #189
@alexkappa  I can try, but I didn't saw that resource in the list of resouces:
![image](https://user-images.githubusercontent.com/46490120/78012120-d06d0f00-7344-11ea-998f-e27875475e65.png)

[2020-03-31 09:46] alexkappa commented on #189
Indeed, we missed it in the docs. We'll make sure to add it there.

[2020-03-31 09:47] alexkappa opened #190 "Add auth0_global_client to documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-31 09:47] alexkappa commented on #189
Created #190 to track this.

[2020-03-31 09:51] icadariu-talend commented on #189
@alexkappa  What is the purpose of these parameters under https://www.terraform.io/docs/providers/auth0/r/client.html

[code]

I guess the should be removed since we should deal with them inside `auth0_global_client`, or I am getting it wrong ?

[2020-03-31 09:57] alexkappa commented on #189
This provider essentially mirrors the Auth0 Management API. Auth0 however creates a "global" client which is exactly the same as every other client, except its treated differently internally. Universal login is one example of how its treated differently.

Through a PR contributed to this provider recently, a special resource `auth0_global_client` has been created to affect this pre-generated clien

[2020-03-31 11:32] #189 closed

[2020-04-01 12:50] miki2826 opened #191 "Email connection (passwordless) email configuration and totp doesn't work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 07:09] #191 closed

[2020-04-03 07:17] alexkappa commented on #185
@icadariu-talend  just so I can understand the exact situation, did you include `change_password`, `error_page`, `guardian_mfa_page` `universal_login` and then removed them or they were not included to begin with?

[2020-04-03 07:44] robertlagrant opened #193 "Setting rule_id on an auth0_rule throws a 400"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 13:20] alexkappa commented on #188
Hi @sharkyze, thanks for reporting this. Seems like we should have used pagination when listing user roles.

Looks like the management API supports it so we should be good to go:

https://auth0.com/docs/api/management/v2#!/Users/get_user_roles

[2020-04-03 16:33] sharkyze commented on #188
Hey @alexkappa, thank you for your getting back to me. I just saw you opened a PR for this on https://github.com/go-auth0/auth0.

Please let me know if you want me to send in the changes for this repository after you've merged your PR.

[2020-04-03 20:58] yinzara commented on #185
I think the reason we're not catching a lot of these bugs is one of two reasons.

1. Test cases should all end with the following test step.  This will verify that the "read" functions build the same state as the state you created after the last update operation.
[code]

2. Because we only transmit fields that were changed as part of the most recent update, we would need test cases to cover changi

[2020-04-03 21:55] nitrag commented on #185
I imported an existing tenant. Clearly, the parameters are not all optional as per the docs.

[2020-04-04 16:11] alexkappa commented on #185
Honestly it goes a while back so I don't remember the exact reason why we send patches only. Perhaps due to the API relying on PATCH operations as the main method to update a resource...

As to why we only get fields if they have changed, surely it's something we can take a step back and verify. We can pick a resource and re-write it to contain the entire payload instead of just changes. I know ce

[2020-04-05 23:51] zrosenbauer commented on #50
I'm seeing this issue too currently. It seems to have to do with the custom pages.

![Screen Shot 2020-04-05 at 6 51 01 PM](https://user-images.githubusercontent.com/3486461/78513031-6a322300-776e-11ea-9ea1-7ee4ffdd6745.png)

[2020-04-06 07:32] icadariu-talend commented on #185
@alexkappa  they were not included in the first place.

[2020-04-06 07:39] icadariu-talend commented on #185
I've also noticed(please let me know if I should open a new issue) on auth0_connection that regardless of what we change on `configuration` it's not triggering an update so the only way I was able to deploy a change was to destroy the connection resouce and recreate it. Here is the example from the docs which is relevant to test also:

[code]

[2020-04-06 12:59] alexkappa commented on #185
Yes I think that is a separate issue.

[2020-04-06 13:08] icadariu-talend commented on #185
Ok, I will open a new issue with it soon.

[2020-04-06 13:16] icadariu-talend opened #195 "Changes in configuration(on auth0_connection resource) are not detected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 14:05] alexkappa commented on #185
After playing around a little with trying to send all fields instead of those which have changed, I think I have an answer to this question.

The Auth0 API only offers PATCH as a method to modify resources. With these semantics, the resource is not replaced, but modified in-place (only the fields that were set).

Feel free to check the result of the prototype here: https://github.com/alexkappa/ter

[2020-04-07 08:10] stefangreim opened #196 "auth0_client can not be created with missing or empty jwt_configuration.scopes object."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 17:08] nitrag opened #197 "Rename scope on Resource Server causes 400 error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 17:33] nitrag commented on #197
Actually it's just a modification of the description. The value remains the same yet the provider wants to delete/create.

[2020-04-08 01:29] xanderflood commented on #50
I'm also having this issue with `auth0_tenant` after upgrading from 0.6 to 0.8. It seems that there's no way to _omit_ `error_page` (and other fields like `guardian_mfa_page` and `change_password`) from the actual request bodies - instead we wind up pushing empty blocks, which isn't valid.

[2020-04-08 07:27] ghost opened #198 "auth0_connection state fails to refresh (v0.8.1)"
*@MorrisonCole commented on Apr 8, 2020, 12:40 AM UTC:*

### Community Note

*   Please vote on this issue by adding a <g-emoji class="g-emoji" alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">👍</g-emoji> [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and ma

[2020-04-08 17:14] zrosenbauer commented on #50
I ended up just copying in the templates to the repo from Auth0.

On Tue, Apr 7, 2020 at 8:29 PM xanderflood <notifications@github.com> wrote:

--
Zac Rosenbauer

[2020-04-09 04:32] MorrisonCole commented on #198
Thanks @alexkappa, and apologies, I'll use this repo for raising issues for now!

I did wonder if it was a bug in the API, but the [Auth0 docs](https://auth0.com/docs/api/management/v2#!/Connections/get_connections_by_id) appear to not even mention `allowed_audience`(?!) so I'm not sure... I'll raise a ticket in the Go SDK repo if you like, just let me know 😃

[2020-04-09 08:52] icadariu-talend commented on #195
@alexkappa  I've see same behavior on other resources too, for example `auth0_rule`.

Anything changed there is not detected by plan/apply. Any suggestion on a workaround?

[2020-04-09 09:19] alexkappa commented on #198
No worries @MorrisonCole! I should write some of these down you out with filing issues.

That's true, I've had to reverse engineer most of the connection types using the dashboard. Feel free to create the issue at the SDK and - if you feel adventurous - give it a try 😄.

The connection type in question is [`ConnectionOptionsGoogleOAuth2`](https://github.com/go-auth0/auth0/blob/master/management/co

[2020-04-09 12:18] alexkappa commented on #193
@robertlagrant seems like the behaviour of the Auth0 API doesn't allow setting an id post creation. Perhaps the right thing for this provider to do is force a new resource if the `role_id` has changed?

[2020-04-09 12:33] alexkappa commented on #197
@nitrag which version of the provider were you using?

[2020-04-09 20:55] nitrag commented on #197
@alexkappa
0.8.2

[2020-04-10 22:43] maroux opened #200 "Changes in auth0_connection configuration are not applied correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-11 18:49] robertlagrant commented on #193
@alexkappa I tried creating a new one :-) However, in both the create and the update cases, the same thing occurs.

[2020-04-11 19:35] alexkappa commented on #193
I suppose this means we can’t set the rule_id field... I have to do some investigation and I’m away from my laptop. I can have a look next week.

[2020-04-13 14:03] fotos commented on #196
Stumbled upon the same problem. 💥

I want to terraform a client without any `jwtConfiguration.scopes`.

The `Auth0` API currently allows the creation of a client with the following payload:

[code]

The `scopes` need to be `null` otherwise I'm getting errors from `/authorize` when trying to implement `passwordless` authentication.

It seems that the management API does not offer a way to update a

[2020-04-13 18:52] maroux opened #201 "Unable to update change_email custom script for db connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-13 19:41] maroux commented on #201
Ah turns out this is a problem with Auth0 dashboard:
[code]

Plugin does the right thing.

[2020-04-13 19:41] #201 closed

[2020-04-13 19:45] maroux commented on #200
I suspect this is a problem with Auth0 API rather than the plugin.

[2020-04-14 08:35] #185 closed

[2020-04-14 09:14] alexkappa commented on #197
I could verify the bug and worked on a fix which should be available soon. Keep an eye for 0.9.0 here https://releases.hashicorp.com/terraform-provider-auth0/

[2020-04-14 09:15] alexkappa commented on #197
Closing, but feel free to re-open if the problem persists.

Cheers,
Alex

[2020-04-14 09:15] #197 closed

[2020-04-14 09:18] alexkappa commented on #200
@maroux, the configuration variables are encrypted by auth0 server side (irreversibly) for security reasons. Therefore this provider is not able to read back the plaintext values from the API.

Although I don't believe this is a bug (it's really a feature), the provider doesn't seem to do the right thing always. I'll see if this can be improved somehow. Suggestions or attempts welcomed! :)

[2020-04-14 12:03] alexkappa commented on #193
Okay, apparently setting the id is not possible in [creating or updating](https://auth0.com/docs/api/management/v2#!/Roles/post_roles). I'll remove it.

I was thinking of marking it as deprecated but since it wouldn't have worked anyway, I will just remove it altogether.

[2020-04-14 12:13] #193 closed

[2020-04-14 12:20] alexkappa commented on #196
Thank you for reporting this @stefangreim @fotos. I will have a look very soon.

Cheers,
Alex

[2020-04-14 15:18] maroux commented on #200
I believe there are 2 solutions. You could store two values for every configuration value. One value would store plaintext specified at creation time. Another would store the encrypted value returned by the API. When updating you'd use the plaintext value, and when determining `hasChange` you'd use the encrypted value. (I'm not entirely sure how import works in this case - perhaps it won't be impo

[2020-04-14 16:37] dancrumb opened #203 "Payload validation error: 'Missing required property: value' on property scopes[8]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-14 17:19] alexkappa commented on #203
Hi Dan, which version of the provider are you using (use `terraform version` to find out)?

Could you run a minimal example with just the offending configuration and upload the logs in a gist? Leave other resources out such as aws.

Use `TF_LOG=DEBUG AUTH0_DEBUG=1 terraform apply` to get the most output to help me debug.

[2020-04-14 18:37] dancrumb commented on #203
Hey Alex,

Unfortunately, I'm using the Terraform cloud app, so I can't run those easily. It'll take a little time to set up an SSCCE.

I can say I have the Auth0 provider set up thus, If that helps:

[code]

[2020-04-14 19:14] dancrumb commented on #203
OK - I updated the gist with the stripped down config and the logs.

I was able to create the new API in my first pass through.

It appears the bug only occurs when trying to update the API with a new scope.

[2020-04-15 05:55] alexkappa commented on #203
Hi Dan, your issue seems to be related to #197. Could you try using the latest version 0.9.0?

[2020-04-15 07:31] #196 closed

[2020-04-15 07:48] alexkappa commented on #196
I believe the issue has been addressed in the linked PR. Release to follow shortly (0.9.1).

Keep in mind there is a long standing bug where clearing slice/map values are not handled correctly and will result in errors due to diff not matching expectations. This was not addressed here.

[2020-04-15 08:08] move[bot] opened #205 "Support for hook secrets"
*@xanderflood commented on Apr 8, 2020, 12:31 AM UTC:*

### Community Note

*   Please vote on this issue by adding a <g-emoji class="g-emoji" alias="+1" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">👍</g-emoji> [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and mai

[2020-04-15 08:12] alexkappa commented on #205
Thanks for suggesting the enhancement @xanderflood. Support in the SDK was added recently by @yinzara in go-auth0/auth0/pull/107.

We should be able to work on this soon.

[2020-04-15 08:54] alexkappa commented on #188
Hi @sharkyze, did you already work on making changes for this provider? The PR was merged. I haven't read your comment earlier so I worked on GH-206. My apologies if there was overlap.

[2020-04-15 12:16] alexkappa commented on #198
The Auth0 team informed me that they are be working on a fix within the coming days. WIll keep this ticket around and close it when its resolved upstream.

[2020-04-15 12:24] alexkappa commented on #200
An example of this would be useful in order to validate this approach. Do you know of any other providers that do this?

The import won't work in either case as the value coming back from the API is encrypted, therefore we would never have the plaintext value.

We are doing this actually with a `DiffSuppressFunc`.

[code]
Perhaps it doesn't cover all cases?

Anyway, to make some sense of this we n

[2020-04-15 14:21] #188 closed

[2020-04-15 14:31] alexkappa commented on #200
@maroux did you happen to import this resource initially?

I've added a test that verifies this behavior but I wasn't able to reproduce. See the tests here:
https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_connection_test.go#L596-L655

[2020-04-15 15:39] sharkyze commented on #188
Hey @alexkappa, no worries, thank you for the fix

[2020-04-15 17:12] charlieegan3 commented on #85
I feel like this should be reopened as #121 isn't related to the supporting of the configuration of the Authorization Extension.

The extension provides some features not yet in Authorization Core such as Groups - see its own API here: https://auth0.com/docs/api/authorization-extension#introduction

Given authentication against the plugin is different, as is the API. I wonder if this is best suite

[2020-04-15 17:25] alexkappa commented on #85
@charlesjohnson there is no plan to support the authorization extension through this provider.

The authorization extension relies on a product (https://webtask.io/) that to my knowledge is not publicly documented and is no longer supported outside of the auth0 dashboard. I wouldn't even know how to authenticate with this system.

[2020-04-15 17:38] charlesjohnson commented on #85
Extensions are currently unsupported by the Terraform provider because the Auth0 management API does not have endpoints for managing extensions. There are no plans in the 3-6 month time frame to extend the management API with extensions support.

Customers with an Auth0 enterprise account can manage extensions using the `wt-cli` application. This capability is not enabled by default, ask your tech

[2020-04-15 21:05] charlieegan3 commented on #85
Thanks for the responses guys. That’s all totally understandable - just wanted to leave a clear end here in case anyone else found themselves looking at this in the future. Hopefully authorisation core will support groups before too long...

[2020-04-16 07:07] MorrisonCole commented on #198
@alexkappa thanks for the update 🥇!

Sorry I didn't get around to it - did have a quick look but a lot on my plate at the moment! 😅

[2020-04-17 13:08] dancrumb commented on #203
I'll try it out today and get back to you

[2020-04-17 15:41] icadariu-talend opened #207 "Be able to control Anomaly Detection brute force protection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-17 20:38] maroux commented on #200
Hi @alexkappa No, this resource was created using Terraform. Oddly some config values are unaffected - I suspect this may be a config value size issue? Can you try with a longer config value - for example we have an ssl cert / private key in there..

[2020-04-17 20:57] maroux commented on #200
`DiffSuppressFunc` simply suppresses diff in Terraform. The plugin still tries to [write](https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_connection.go#L437) all configuration values instead of not passing that key at all.

[2020-04-18 08:31] alexkappa commented on #200
Tests pass with larger values as well as using the keys from your example.

[code]

If you are able to provide an example that triggers this behavior I can look into it further. Otherwise, I can't reproduce the issue.

[2020-04-18 14:38] fotos commented on #196
Just had a chance to test it. Now it works! 🙌

Thanks a lot @alexkappa! 🙏

[2020-04-18 17:29] maroux commented on #200
Hm I just tried and could reproduce it easily:
Steps:
1. Commented out my bash script that makes PATCH connection API call
2. Made this change to one of the scripts:
[code]
3. Applied terraform
4. Hit "Try" in the script in Dashboard:
[code]
5. Fix that value using UI
6. Hit "Try" again:
[code]

I'm not sure if your test includes verifying the plaintext value in custom script in the dashboard?

I'

[2020-04-19 18:23] alexkappa commented on #200
Hi @maroux higher up in the comments I’ve linked to the additional tests I’ve added to the provider in order to verify this issue.

Also inspected the calls to the Auth0 API and all POST/PATCH requests include the plaintext values, not the mangled/encrypted values.

Using TF_LOG=1 and AUTH0_DEBUG=1 terraform will print more information on what it’s doing. Could you upload that in a gist?

[2020-04-20 04:10] maroux commented on #200
Ah I see this in the logs:
[code]

Here's the [full gist](https://gist.github.com/maroux/5419b617ec8af9ad7c2521117c72a7fe).

[2020-04-20 04:11] maroux commented on #200
Observations: All the config values hashes changed in the PATCH call even though none of the values changed. Only some of the values got clobbered incorrectly.

[2020-04-20 04:15] maroux commented on #200
Test linked [earlier](https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_connection_test.go#L596-L655) seems to indicate that the state file contains plaintext values? However that doesn't appear to be true for me.. Additionally, the test doesn't verify the plaintext value stored by Auth0 - I'm not even sure how how automated test could verify that 😕

[2020-04-20 15:25] dancrumb commented on #203
Yup - that fixed it!

Thanks

[2020-04-20 15:25] #203 closed

[2020-04-20 17:00] alexkappa commented on #200
@maroux in the gist, I can only see the PATCH request. If the value in your terraform state has been clobbered at some point, whatever happens afterwards will not reverse the values.

I've created a PR for this, just to make sure no value is ever read back from the API when it comes to configuration. So the value from the terraform configuration should always be what's in the state. This means how

[2020-04-20 17:01] #200 closed

[2020-04-20 17:57] maroux commented on #200
Gotcha. Would manually mucking with state file fix it?

[2020-04-20 23:49] maroux commented on #200
Update: mucking around with state file doesn't fix it. I guess I'll have to wait for this update to be released and upgrade provider version.

[2020-04-21 07:32] alexkappa commented on #200
Ok, 0.9.2 was released yesterday. This should never read configuration values back.

[2020-04-22 22:36] nitrag opened #209 "Modification of Hook causes triggerId error"
Problem:
Cannot modify Hook.

Error:
`Additional properties not allowed: triggerId`

I didn't have my version fixed. It was set to '~> 0.8', however 0.9.2 was initialized. I don't see that release in GitHub release section - was this supposed to be released?

[code]

I hardcoded version to 0.8.2 and modification was successful.

[2020-04-24 08:48] alexkappa commented on #209
Hi @nitrag, thanks for submitting this issue. I've been able to reproduce it and I'm working on a fix. Will update soon.

[2020-04-24 09:12] #209 closed

[2020-04-24 09:36] alexkappa commented on #209
@nitrag look out for the upcoming 0.9.3 release [here](https://releases.hashicorp.com/terraform-provider-auth0/).

[2020-04-26 01:48] WilliamABradley opened #211 "Auth0 Provider doesn't work with an evaluated Domain Property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-26 04:44] incorrupt opened #212 "Unsupported connection strategy oidc"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-26 05:02] incorrupt commented on #212
Note that when I used the Auth0 API to GET a connection I had created manually, it also returned other fields. Here is the full object

[code]

[2020-04-29 15:00] icadariu-talend commented on #195
@alexkappa  Any updates on this? Or does anyone has a solution how to push updates done on the `configuration` block ?

[2020-04-29 15:36] alexkappa commented on #195
Hi @icadariu-talend, could you tell me what the changes were specifically within the configuration block? Could you upload a config that I can replicate in a gist (e.g. the config you create and the config you update)?

[2020-04-29 15:46] alexkappa commented on #195
Also, which version are you running? `v0.9.3` seems to update the state correctly for me.

**Note**: there is a known bug/limitation where emptying a map will not trigger an update. This happens if you have created a `configuration` map previously but removed it or defined it as `{}`.

The go json package will not marshal an empty map so the update won't happen. I'll see if I can link an issue.

[2020-04-29 15:59] icadariu-talend commented on #195
So right now I have tested using `auth0 provider version: 0.6.0` as for the resouce to test, you can use the one from above.

For example changing these value will not trigger any update on `terraform plan/apply`

[code]

[2020-04-29 16:02] alexkappa commented on #195
Could you try with the latest version and let me know if it works for you?

[2020-04-29 22:45] WilliamABradley opened #213 "Attachment Resources, e.g. auth0_role_permission_attachment and auth0_user_role_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-30 07:40] alexkappa commented on #213
Hi @WilliamABradley, we do support the creation of user roles and role permissions already in this provider. Have a look at this [example of a user role](https://github.com/alexkappa/terraform-provider-auth0/blob/master/example/user/main.tf), or this [example of role permissions](https://github.com/alexkappa/terraform-provider-auth0/blob/master/example/role/main.tf).

Is there something you are no

[2020-04-30 07:45] WilliamABradley commented on #213
@alexkappa My use case is when a tenant has roles, and multiple environments (Dynamic amount). When Environments are created with Terraform, I want to associate the resource_server for that environment with the existing role.

Alternatively, I could prefix a Role for multiple environments, which I am doing now, however, there are some existing shared seed users that I would like to associate with

[2020-04-30 08:10] alexkappa commented on #213
What do you mean by this? As far as I can tell environments are not supported by this provider.

An environment is essentially labelling a tenant, right? So you have users/roles in various tenants?

I'm sorry but I don't follow. Are you able to share a minimal configuration as an example?

[2020-04-30 08:18] WilliamABradley commented on #213
@alexkappa Sorry about that :)

What I meant by environment is in development environment, not a concept of Auth0, e.g. prod, staging, test, etc.

What I am trying to achieve is:

Say I have a tenant called: app-test-tenant,

Inside this tenant I want to create execute Terraform multiple times, to create multiple test environments inside.

So I set up some shared Auth0 Roles in the Auth0 Dashboard

[2020-04-30 08:26] alexkappa commented on #213
I think I understand now, thanks for clarifying.

To see if I get this right, you have a fixed set of roles, and you want to create clients / resource servers at will, while re-using the roles you have? Also creating some seed users for each of the created client / resource servers?

Since roles are global to the auth0 tenant and permissions are scoped to a resource server, you need a way to creat

[2020-04-30 08:28] WilliamABradley commented on #213
Correct!
Although some seed users are also be global to the auth0 Tenant, that covers the use case.

[2020-04-30 08:51] alexkappa commented on #213
Ok, I see. It's a valid problem, which may come with a significant overhead to this provider. I'll have to think about the approach here, including possible migrations or allowing multiple ways of defining user -> role or role -> permission attachments.

This is what we have now:

[code]

The `iam_policy_attachment` equivalent and more in-line with the auth0 sdk. This is 1 user to N roles:

[code]

[2020-04-30 08:57] WilliamABradley commented on #213
Looks good, to prevent over verbosity, you could use for_each.

[code]

[2020-05-02 16:56] multani opened #214 "Changing the key of a "auth0_rule_config" doesn't update Auth0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-03 23:40] stuartizon opened #217 "Setting up a facebook connection"
Do you have any docs about how to set up a facebook login connection with this provider? I've tried the following but it's not picking up the scopes or the app id:

[code]

Is that the correct syntax?

[2020-05-04 08:33] icadariu-talend commented on #195
Yes, right now it's not possible for us to upgrade, but I will give it a try asap. Thank you!

[2020-05-04 11:14] alaksej opened #218 "Error: unexpected end of JSON input - when trying to modify a user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-04 13:28] relu opened #219 "Lack of support for some connection providers options"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-04 13:37] gagalago commented on #217
linked to https://github.com/alexkappa/terraform-provider-auth0/issues/219

[2020-05-04 13:42] alexkappa commented on #217
Hi @stuartizon some providers were not implemented as I was deferring to the community to help me prioritize.

After a recent refactoring of the connection resource at go-auth0/auth0 I didn’t have a lot of time on my hands to fully finalize.

These providers would be fairly easy to support. If you feel adventurous feel free to submit a PR 🙂

[2020-05-04 13:51] relu commented on #219
A suggestion for a future provider major version would be to deprecate the existing `auth0_connection` resource and replacing it with individual connection resources per connection type e.g. `auth0_connection_google`, `auth0_connection_facebook`, `auth0_connection_auth0` etc.
This approach would be a lot easier to manage considering the fact that most of these connection types have very different

[2020-05-05 08:19] alexkappa commented on #219
Hi @relu, after a major refactoring of the connections object with the sdk, I just haven't had the time to match the parity with this provider. We can tackle these soon, unless you are feeling up for submitting a PR ;)

[2020-05-05 08:24] alexkappa commented on #219
Excellent! Both of these providers are very similar (oauth2 based) so you should be able to find examples ready. Off the top of my head `google-oauth2` is similar.

What you'd need to do is add any additional fields to the schema, and fill in the appropriate flatteners/expanders inside the `structure_connection.go` file. There are more examples there.

Some attention needed with the `scope` field.

[2020-05-06 00:10] #175 closed

[2020-05-06 16:39] mrusme opened #224 "Import of existing tenant fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 06:02] jsokol89 opened #225 "auth0_tenant - creates a TF resource without creating an actual tenant"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 06:53] alexkappa commented on #224
Hello @mrusme! You don't need to import a tenant, the provider treats it as an existing resource and updates only. Deleting is also not possible.

[2020-05-07 06:57] alexkappa commented on #225
Hi @jsokol89 this provider can do what is available through the management API thus far, and creating tenants unfortunately is not supported.

The tenant resource, is a special kind of resource as far as this provider is concerned. As such, we treat tenants as existing resources. It can read/update your tenant but cannot create/delete.

[2020-05-07 07:25] #219 closed

[2020-05-07 09:18] mrusme commented on #224
@alexkappa I just ran apply and it shows me that it would try to create the tenant, so I'm not exactly sure how this is supposed to work. Usually with terraform one can bring existing resources under tf's control by importing their states.

So if I don't need to do that, how can I make sure the apply doesn't try to create it another time?

[2020-05-07 09:59] alexkappa commented on #224
This provider, the sdk powering, but most importantly the Auth0 API, _cannot_ create another tenant. The auth0 docs should convince you that tenants have a read and an update operation allowed:

https://auth0.com/docs/api/management/v2#!/Tenants/get_settings

I can point you to the code which handles the creation of resources in this provider if it makes you feel more at ease:

https://github.com/

[2020-05-07 10:28] mrusme commented on #224
Thank you for the quick reply! I browsed the Auth0 API and read that already, however I was just pointing out that the apply command still says it would create a new tenant. I wouldn't want it to create a new or update the current tenant, hence I'd like to import the state, so I could see which properties it would *actually* touch and which would be left unchanged.

Thanks, I assumed this was the

[2020-05-07 10:28] #224 closed

[2020-05-07 15:52] incorrupt opened #226 "Client SAML configuration output is snake_case instead of camelCase"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 15:53] incorrupt commented on #226
@alexkappa my Go knowledge is too limited to submit a PR for this one

[2020-05-07 16:55] squarebracket opened #227 "Verification for custom domains"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 22:27] jsokol89 commented on #225
Thanks for a prompt response @alexkappa
It all makes sense now and after splitting each tenant to use it's own client-id and client-secret the update part started to work. Cheers!

[2020-05-07 22:27] #225 closed

[2020-05-08 12:59] kvrhdn opened #230 "Document how to import resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-11 01:12] hugbubby commented on #227
Another problem is that the existing documentation doesn't say anything about the verification object that I'm supposed to use, what its fields are, or how to create the DNS record that ends up verifying my auth0 custom domain.

[2020-05-11 09:45] #212 closed

[2020-05-11 16:15] squarebracket commented on #227
@hugbubby unfortunately, not even the auth0 docs document the schema of the verification object, i had to figure that one out on my own...

[2020-05-12 11:46] srenatus opened #233 "idle_session_timeout can be a fraction of an hour"
## Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are intereste

[2020-05-12 19:56] dancrumb opened #234 "terraform plan reports "Error: a number is required""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-12 20:05] dancrumb commented on #234
Zip files, encrypted with the Hashicorp key are available at https://ahanapediatrics.box.com/s/02eelsiwciph0zo3il0s5l7s5825mx45

[2020-05-12 20:45] alexkappa commented on #234
Hi Dan,

This issue seems to be due to a schema change I’ve introduced in v0.10.0. I
am working on this issue and should be able to have a fix by tomorrow.

My apologies for the inconvenience. For the time being, you can pin your
version to a previous release.

On Tue, 12 May 2020 at 22:05, Dan Rumney <notifications@github.com> wrote:

[2020-05-13 01:24] incorrupt commented on #234
@dancrumb and others in the future who may have the same issue, I edited the tfstate manually fixing my issue (in my case I had to use `scopes` instead of `scope`).

To find out where the error is, run `TF_LOG=true terraform plan` and look towards the bottom where the error is happening.

[2020-05-13 07:40] #234 closed

[2020-05-13 07:50] alexkappa commented on #234
Release [0.10.1](https://github.com/terraform-providers/terraform-provider-auth0/blob/master/CHANGELOG.md#0101-unreleased) should resolve this issue. If not, feel free to reopen the issue.

[2020-05-13 19:40] dancrumb commented on #234
Looks good to me! Thanks, as ever!!

[2020-05-14 02:21] nirvdrum commented on #143
Does anyone happen to know if these options were added? Or did stalebot just unhelpfully close the issue?

[2020-05-14 03:14] nirvdrum opened #235 "How can I work with the auto-created Google connection?"
As far as I can tell, Auth0 auto-creates a Google connection named "google-oauth2" when then tenant is created. I'm trying to customize this connection with:

[code]
But, that tries to create a connection with the name "google-oauth2" and thus leads to the error:

[code]

Is it possible to import or customize existing connections? I can always create a new one with a different name, but then I hav

[2020-05-16 07:57] #218 closed

[2020-05-18 02:47] MorrisonCole commented on #198
(FYI for anyone following, seems the upstream fix is not released yet, still seeing this today w/0.10.1)

[2020-05-19 15:58] relu opened #237 "Inconsistent state changes for auth0 connection"
### Description

Here's the use case:
I have an auth0 database connection configured through terraform with:
[code]

After applying a change to `custom_scripts` for example the provider will disable the above-mentioned values in Auth0 without showing the changes in the state even after apply (requires manual testing).

### Terraform Version

v0.12.24

### Affected Resource(s)

* auth0_connection (

[2020-05-20 11:39] alexkappa commented on #235
Hi @nirvdrum, you can use `terraform import` in order to import the connection into your terraform state.

You could run the following command:
[code]

The connection id should look something like `con_a17f21fdb24d48a0`. I'll be adding this to the documentation soon as its not there at the moment.

If you instead want to create another google oauth2 connection, just use a unique name.

Thanks!
Ale

[2020-05-20 14:36] nirvdrum commented on #235
Thanks. I figured that part out, but forgot to comment here. I ran into a separate problem when importing whereby the `allowed_audiences` value, which should be an array, coming back as `""` from the Auth0 API, and thus was unable to decode properly by the provider. I started going down the path of fixing it, but I don't really know Go all that well and writing a custom JSON unmarshal for that one

[2020-05-20 14:40] nirvdrum commented on #235
Just to note for anyone else, while you can create a second named _google-oauth2_ connection, it will not appear in the Auth0 UI under the _Connections -> Social_ list. You will see in on the _Connections_ tab for each application, but not from the master connections list. While all changes should be driven from Terraform, it's often useful to verify things by looking at the UI. For that reason, I

[2020-05-20 15:29] alexkappa commented on #235
Good point! I'll add a note to the docs mentioning this as well.

[2020-05-21 00:18] etwillbefine opened #238 "Unable to specify username requirements"
### Description

Im unable to configure my Auth0 Connection with username restrictions and even with the `requires_username` flag.

### Terraform Version

### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

1. Issue (require a username at all)
[code]

2. Issue (specify username validation)
[code]

Terraform error:

required.

Using for example `jsonencode` for validati

[2020-05-26 07:31] #195 closed

[2020-05-27 14:32] nickwilliams-codynamic commented on #59
/open

[2020-05-27 16:06] MyMirelHub opened #239 "Changes to the auth0_client_grant produce inconsistent results after apply"
### Description

When I make changes to the `auth0_client` and `auth0_resource_server` (in this example a simple name change)  while keeping the same `auth0_client_grant` binding, I get the following error:
[code]

The plan is:

### Terraform Version
[code]

### Affected Resource(s)

* auth0_client_grant

### Terraform Configuration Files

[code]

### Expected Behavior

I would have expected it to

[2020-05-28 00:28] #174 closed

[2020-06-02 18:40] smyrman commented on #227
Will this approach support CNAME verification for Auth0 Managed Certificates?
- https://auth0.com/docs/custom-domains/auth0-managed-certificates#verify-ownership

[2020-06-03 00:20] #118 closed

[2020-06-03 00:20] #178 closed

[2020-06-03 17:09] chiel commented on #237
Hello! We're just getting started with using terraform for our auth0 tenant and were also running into some weird behaviour with certain options not being retained. It turns out this behaviour is actually documented in auth0's api documentation:

https://auth0.com/docs/api/management/v2/#!/Connections/patch_connections_by_id

Examining the outgoing requests and incoming responses (using `TF_LOG=tr

[2020-06-03 19:21] alexkappa commented on #237
Hi @relu, @chiel, thank you for submitting this issue and the detailed reports.

I will look into it and get back to you soon. Cheers!

[2020-06-04 08:56] chiel commented on #237
Thanks! Please let me know if there's anything else I can do to help, happy to reproduce things and whatnot. :)

[2020-06-04 12:28] alexkappa commented on #239
Hi @MyMirelHub, I believe the provider should force a new resource upon changes to the client grants audience or client id. These fields are not allowed to be updated by the api.

Since your resource server is being re-created, the client grant changes and tries to update. But its not allowes to.

[2020-06-04 12:30] alexkappa commented on #186
Hi @adamu, thank you for submitting this issue. My apologies for the delay in looking into it. I will be addressing this issue soon. Be on the lookout for a new release 🤞 .

[2020-06-04 12:40] #186 closed

[2020-06-04 12:40] #237 closed

[2020-06-04 12:40] #239 closed

[2020-06-04 15:05] alexkappa commented on #239
Feel free to give 0.11.0 a go. It should force a new resource if the `auth0_client_grant`'s `audience` or `client_id` have changed.

[2020-06-04 15:10] alexkappa commented on #237
Excellent! Happy to help @chiel.

[2020-06-05 16:00] mbenabda opened #242 "auth0_connection's password policy set to None when not changed"
### Description
When not changed, the password policy of auth0_connection is effectively set to None in Auth0
This happens when other fields of the auth0_connection that do change.

This might be due to the provider not sending unchanged fields in the Auth0 API calls, and Auth0 interpreting this absence as a "set to null" statement for the password policy

### Terraform Version
Terraform v0.12.25

[2020-06-05 16:01] mbenabda commented on #242
sorry, just saw https://github.com/alexkappa/terraform-provider-auth0/issues/237

[2020-06-05 16:01] #242 closed

[2020-06-15 12:38] xanderflood commented on #205
This issue should not be closed - it's low priority and may not go into development for a bit, but I think a long silence on this issue is expected 🤷‍♀️

[2020-06-15 12:39] xanderflood commented on #205
It should be fairly straighforward and I'm happy to submit a PR for it myself when I have a bit more free time

[2020-06-15 19:20] herry13 commented on #205
Hi @alexkappa. I have implemented this feature in my branch https://github.com/herry13/terraform-provider-auth0/tree/herry/adding-resource-hook-secret. This is the first time I contribute to this project. Do you think my codes are good enough for a PR?

[2020-06-16 12:50] xanderflood commented on #205
@herry13 I'm not affiliated with the project so I don't know what the normal procedures are, but if you go ahead and open a PR it'll provide us with a UI for comments and review. It looked pretty good to me when I skimmed it, though.

[2020-06-16 22:12] yinzara commented on #205
I can say that while I agree your implementation functions, hook secrets are managed as a single resource from the point of view of the Auth0 management API. Your implementation follows the patterns of rule_config (which are separate resources from the point of view of the Auth0 management API).

My branch uses a nested element of the auth0_hook resource to manage secrets:
https://github.com/yinza

[2020-06-17 22:39] guillermo-menjivar commented on #230
While this does not solve the issue on hand, I found using the management API as a means to find the ID of resources that I needed to import
https://auth0.com/docs/api/management/v2

[2020-06-18 05:57] squarebracket commented on #227
@smyrman that is how #228 works.

[2020-06-18 08:29] kvrhdn commented on #230
Oh, I didn't know about that! I used to grab it from the URL:
<img width="752" alt="Screenshot 2020-06-18 at 10 26 42" src="https://user-images.githubusercontent.com/7748404/84997255-9c88d500-b14e-11ea-9236-ab7f0d20c107.png">

[2020-06-19 12:06] herry13 commented on #205
@yinzara I'm happy to ditch my branch. Can you please create a PR so that your implementation is available in the official Auth0 Terraform Provider? It would be nice if your PR can be merged ASAP because this feature is blocking my work.

[2020-06-19 13:21] xanderflood commented on #205
@herry13 (again, I don't work here, but) in my experience with providers that aren't AWS, it can take a while (weeks to months) even after an update is merged before it gets mainlined into the Terraform provider binaries that are distributed by HashiCorp. If this is something you need urgently, you may want to consider compiling your own binary and hard-vendoring it into your project, and then goi

[2020-06-19 21:41] yinzara commented on #205
Right now I'm guessing @alexkappa is preparing for the Auth0 Terraform webinars that are coming up soon.  If he could give us some feedback as to which implementation he prefers, we can create some PRs but as @xanderflood says, I would suggest just using your custom built version as this process can take some time.

[2020-06-19 21:52] herry13 commented on #205
@xanderflood @yinzara Thank you guys for the advice. I really appreciate it. I will try an alternative solution for my work.

[2020-06-22 08:54] alexkappa commented on #205
Hi everyone! First off, thank you for working on this feature. Unfortunately I didn't have the time to look into both approaches, but will do so soon and come back with my feedback. Thanks for your patience.

To offer some clarity into the process, the auth0 provider is not released as part of the terraform release schedule. Terraform provider developers coordinate with HashiCorp when a release is

[2020-06-24 00:21] #207 closed

[2020-06-29 11:40] alexkappa commented on #205
After some review of the two approaches I am inclined to favor the one which combines the secrets into the `auth0_hook` resource. My guiding principle for this is staying as close to the Auth0 API as possible. Feel free to convince me otherwise though, there are certainly patterns in this provider where the former approach was used (e.g. rule configuration).

I would like to revisit the [`upsertHo

[2020-06-30 13:13] herrypio commented on #205
@alexkappa I agree with you that combining the secrets into the `auth0_hook` resource is a cleaner than having a separate resource for each secret. I will delete my branch. Thanks for the feedback.

[2020-07-03 00:27] #211 closed

[2020-07-03 11:10] alexkappa commented on #214
@multani I think this is a bug and we should fix it. As the management api doesn't accept changing a config key we should force a delete/create when changes occur on keys.

Will send a PR soon.

[2020-07-03 12:29] #214 closed

[2020-07-03 16:47] squarebracket opened #247 "Unmarshal error when destroying auth0_connection resources"
### Description

I have created two `auth0_connection` resources, with strategies `auth0` and `google-oauth2`.

They create just fine, but when destroying, I get the error:

[code]

for both of them. The resources are deleted from auth0 but remain in the terraform state, so I'm guessing it's a failure in decoding the API response.

### Terraform Version

[code]

### Affected Resource(s)

* auth0_c

[2020-07-05 15:32] alexkappa commented on #217
@stuartizon the docs should be more comprehensive now with exact provider supported options.

Feel free to check it out here: https://www.terraform.io/docs/providers/auth0/r/connection.html#facebook

[2020-07-05 15:32] #217 closed

[2020-07-05 15:35] alexkappa commented on #247
Possibly relates to: https://github.com/alexkappa/terraform-provider-auth0/issues/198

[2020-07-06 12:27] alexkappa commented on #247
@squarebracket would it be possible to run with `AUTH0_DEBUG=true` ? This will include HTTP requests/responses so we can maybe make some sense of what goes wrong.

[2020-07-07 05:48] incorrupt commented on #226
@alexkappa could you have a look at this issue please?

Thank you!

[2020-07-07 11:41] #226 closed

[2020-07-07 11:47] alexkappa commented on #226
@incorrupt be on the lookout for release [0.12.2](https://releases.hashicorp.com/terraform-provider-auth0/) soon. It should correctly translate `samlp` fields to camel case.

[2020-07-07 11:55] incorrupt commented on #226
@alexkappa Ok great I’ll try it out when it’s released!

[2020-07-07 12:42] alexkappa commented on #238
Hi @etwillbefine thanks for reporting this issue. I believe you're right, seeing the schema definition we have validation specified incorrectly.

[code]

It needs to be changed to a `Type: schema.TypeList` and `MaxItems: 1` with an accompanied schema for list elements.

Do you feel up for submitting a PR?

[2020-07-07 12:43] #235 closed

[2020-07-07 22:00] squarebracket commented on #247
That did not seem to produce any additional output. Must I also set terraform to verbose logging?

[2020-07-08 08:39] alexkappa commented on #247
Yes thats right. Run the following

TF_LOG=debug AUTH0_DEBUG=true terraform apply

[2020-07-08 13:05] djdiox opened #249 "Output Signing Certificate from Client"
### Description

In order to import the signing certificate, we need to get it from the auth0 client. and output it

### New or Affected Resource(s)

Client

* auth0_XXXXX

### Potential Terraform Configuration

[code]

### References

* #0000

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comme

[2020-07-09 01:46] squarebracket commented on #247
The relevant requests and responses:

[code]

[2020-07-09 18:48] bergbrains commented on #233
I ran into this too, when the `Inactivity timeout` is < 60.  Works at 60, but if it's set to 59, I get this:

`Error: json: cannot unmarshal number 0.9833333333333333 into Go struct field Tenant.idle_session_lifetime of type int`

[2020-07-12 02:47] davidski opened #250 "Support for creating and configuring log streams"
### Description

Support for managing log streams, utilizing the https://auth0.com/docs/api/management/v2/#!/Log_Streams api endpoints. I'm particularly interested in being able to configure auth0 logs forwarding to AWS EventBridge!

### New or Affected Resource(s)

* auth0_log_stream

### Potential Terraform Configuration

TBD

### References

* https://auth0.com/docs/api/management/v2/#!/Log_Str

[2020-07-13 05:47] stuartizon commented on #217
Thanks so much. That's great!

[2020-07-13 10:43] michaelgriffiths-mclaren opened #251 "Ability to set 'refresh_token' properties on a client"
### Description

We're facing issues with authentication in some of our clients which we've narrowed down to the `refresh_token.rotation_type` not being set to `rotating`.
It would be great if support could be added to the client resource to support setting those properties under the `refresh_token` field.

### New or Affected Resource(s)

* auth0_client

### Potential Terraform Configuration

[co

[2020-07-14 08:31] MorrisonCole opened #252 "Imported existing verified custom domain is scheduled for replacement"
### Description

After importing an existing verified custom domain, it is scheduled for replacement.

### Terraform Version

[code]

### Affected Resource(s)

* auth0_custom_domain

### Terraform Configuration Files

[code]

### Expected Behavior

Resource should be unchanged.

### Actual Behavior

[code]

### Steps to Reproduce

1. Create a custom domain + verify manually
2. Import the domain by

[2020-07-15 20:12] rabidscorpio opened #253 "Setting an auth0_client android sha256_cert_fingerprints parameter causes terraform to crash"
### Description

### Terraform Version
0.12.24

### Affected Resource(s)

* auth0_client

### Terraform Configuration Files

[code]

### Expected Behavior
Terraform should create the client and set android app package name and fingerprint correctly.

### Actual Behavior
Terraform crashes:
[code]

### Steps to Reproduce

1. `terraform apply`

### Important Factoids
I believe the cause can be traced

[2020-07-16 16:52] mijdavis2 opened #254 "Samlp addon when creating an auth0_client returns 400"
### Description

With auth0 provider v0.12.2, samlp addon for "auth0_client" resource no longer works when mapping isn't defined.

### Terraform Version

tf = v0.12.6
auth0 provider = v0.12.2

### Affected Resource(s)

* auth0_client

### Terraform Configuration Files

[code]

### Expected Behavior

Create auth0_client without errors

### Actual Behavior

[code]

### Steps to Reproduce

1. `terraf

[2020-07-19 07:04] rienafairefr commented on #251
Ive put a PR here https://github.com/terraform-providers/terraform-provider-auth0/pull/20 for that, though I'm now surprised there are two terraform-provider-auth0 repos, so maybe I didn't put that at the right place

[2020-07-19 08:38] alexkappa commented on #249
Hi @djdiox, please read the issue template instructions and try to fill in as much information as possible about the problem. It would help me organize better and possibly get to a quicker resolution.

[2020-07-19 08:53] alexkappa commented on #233
Hi everyone, thanks for submitting this issue and let me know. It seems that the `session_lifetime` field can be set to fractions and the SDK did not expect that.

The solution here seems to be to change the datatype to float instead of int so that marshal/unmarshal does not break. We have to consider backwards compatibility however for folks who have used the provider with a `TypeInt` schema whic

[2020-07-19 09:09] alexkappa commented on #250
Great suggestion @davidski, I made an issue to the SDK to add support. With that in place we can implement it here.

[2020-07-19 10:18] aslafy-z commented on #198
This is not stale!

[2020-07-22 04:53] ClementineOldfield commented on #157
Just a PSA for anyone using the above workaround, make sure to delete or gitignore the state.json file as it contains sensitive data

[2020-07-22 20:14] rienafairefr opened #256 "Bad request error on auth_client creation"
### Description
During an `apply` there was an error and the API refused the resource creation:
[code]
The error was on my side, because token_endpoint_auth_method was set to "none", instead of something like "client_secret_post". It's a kind of whole-object validation problem, the individual fields are separately validated according to a schema, but the oauth/auth0 specifics on multiple fields ar

[2020-07-23 17:28] robotsrule opened #257 "Ability to set 'metadata' property on a connection"
### Description

I regularly add metadata to connections which we can then consume later in Auth0 rules.  It does not appear that the terraform provider for Auth0 supports setting this property.  I mistakenly thought it was the same as the 'configuration' property you can set on the options object, but that turned out not to be the same thing.

### New or Affected Resource(s)

* auth0_connection

[2020-07-26 09:18] etwillbefine commented on #238
Hey @alexkappa I opened a Pull Request (#258) to address the Issue. It is already some time ago and I'm not 100% sure what the desired config is. But basically I mirrored the original Auth0 API (`validation.requires_username` and `validation.username.[min|max]`. The Result is a Map for `validation` and `validation.username`.

[2020-07-31 11:14] ninja- commented on #251
can we please merge this?

[2020-08-04 14:19] xens commented on #254
I confirm the exact same issue on my end

[2020-08-20 04:59] yinzara commented on #205
Finally got to actually implementing the changes @alexkappa asked for.  The implementation actually was kinda elegant when all was said and done.  It makes exactly as many API calls as is necessary to retrieve existing keys, delete, update and/or create new secrets.  In the end it will make between 1 and 4 API calls to properly update the resource.

[2020-08-25 09:55] alexkappa commented on #230
Re-opening this issue as a lot of people seem to agree there is some work needed to clarify the docs. FWIW some resources are already documented, but we'll need to make sure its present for all resources.

[2020-08-25 12:17] move[bot] opened #264 "Add support for LogStream configuration"
*@mcalster commented on Jul 24, 2020, 2:34 PM UTC:*

### Description

It would be super nice if we could manage thenlog streams as well. This would let us configure both the sink and source of the stream of log messages within terraform.

### New or Affected Resource(s)

*   auth0_log_stream

### Potential Terraform Configuration

[code]

### References

*   support for this is available in the ap

[2020-08-25 12:17] move[bot] opened #265 "Add support for hook secrets"
*@EronWright commented on Aug 10, 2020, 8:50 PM UTC:*

### Description

The Auth0 Management API supports the creation of hook secrets, which are secrets used by a hook at runtime. Add support for managing those secrets via terraform.

### New or Affected Resource(s)

*   HookSecret

### Potential Terraform Configuration

[code]

### References

*   #0000

### Community Note

*   Please vote on th

[2020-09-09 07:46] Hangsolow opened #266 "Unsupported connection strategy oauth2"
### Description

The Oauth2 provider is not supported.  When it is used it throws the following error
`Error: 400 Bad Request: Payload validation error: 'Missing required property: options'.`

### New or Affected Resource(s)

* auth0_connection

### Potential Terraform Configuration

basically just taking the OIDC configuration and just use the fields needed by the generic oauth2 connection
[code]

[2020-09-09 07:50] Hangsolow commented on #266
I would be happy to help implementing this, I just need someone to point me in the right direction as my Go skills are a bit rusty 🙂

[2020-09-10 12:41] alexkappa commented on #247
@squarebracket I can't tell whats wrong from the log I'm afraid. I'll need to look into this and get back to you.

[2020-09-13 09:10] MorrisonCole commented on #252
I presume this bug still exists but I don't have the time to double-check right now... 🙏

[2020-09-16 19:06] rabidscorpio commented on #253
This is a pretty obvious cut and paste bug but I'm not entirely sure how to fix the `Slice` vs `String` problem and I don't want this issue to be closed. Can you take a look at this @alexkappa ?

[2020-09-16 20:06] mcalster commented on #266
This is a feature that will be very useful for us as well. It seems weird that this is not supported. A bug maybe?

[2020-09-16 20:59] mcalster commented on #266
It seems that the oauth2 connection strategy is not implemented in the auth0 Management Go client.
https://github.com/go-auth0/auth0/blob/master/management/connection.go.

Created issue for that: https://github.com/go-auth0/auth0/issues/139

[2020-09-19 03:08] davidski commented on #250
May we keep this issue open while we wait for the SDK item to be addressed?

[2020-09-21 00:42] #252 closed

[2020-09-22 00:47] robotsrule commented on #257
Commenting to keep the issue from being closed due to inactivity

[2020-09-22 05:12] mattcosta7 commented on #233
not stale, this is still not supportede

[2020-09-24 14:06] #266 closed

[2020-09-25 15:31] nirvdrum opened #269 "Add more logging for connection issues"
### Description

Please add more logging to help debug connection issues. I've been having problems importing a new tenant. Even with `TF_LOG` set to `TRACE` and the Auth0 provider's `debug` setting set to `true`, I couldn't see why I couldn't connect. I just received a 401 message about oauth2 not being able to connect. In this particular case, it turns out my domain was wrong\*, so there weren't

[2020-09-26 00:42] #249 closed

[2020-09-27 00:44] #250 closed

[2020-09-28 00:44] #256 closed

[2020-09-28 15:18] vbabitskiy commented on #160
Hello @alexkappa.
I'm having the same issue with:
- Terraform  **0.13.3**
- Provider **0.15.2**

`Error: 400 Bad Request: You are not allowed to set flag 'disable_clickjack_protection_headers' for this tenant`

I'm able to run `terraform plan/apply` without `disable_clickjack_protection_headers` flag with no error.

[2020-09-28 18:26] mcalster opened #271 "Bug in Oauth2 Connection Support"
https://github.com/go-auth0/auth0/issues/146
### Description

While the request generated by the current implementation of the Oauth2 connection strategy, the token_endpoint and authorization_endpoint are not used by the Oauth2 Social connection.

The correct names are tokenURL and authorizationURL.

### Terraform Version

[code]

### Affected Resource(s)

* auth0_connection

### Terraform Configu

[2020-09-29 11:47] etwillbefine commented on #238
Waiting for Review on State Migration

[2020-09-30 00:43] #257 closed

[2020-09-30 01:01] mattcosta7 commented on #233
This closed, but still isn't supported

[2020-10-01 12:12] LavaToaster opened #273 "Allow setting Azure AD Email Verification Option"
### Description

Azure AD connector has an email verification option that allows us to force `email_verified` to be true/false.

The real name of this is actually `should_trust_email_verified_connection` and it'd be nice if this could be set using this provider.

Valid options (taken from ui values):
[code]

### New or Affected Resource(s)

* auth0_connection

### Potential Terraform Configuration

[2020-10-02 13:22] adamu opened #274 "Universal Login Page Templates"
### Description

Auth0 has a [Login Page Templates](https://auth0.com/docs/universal-login/new-experience/universal-login-page-templates) feature available on the Management API to customise the "New" Universal Login experience for custom domains.

It would be great if we could get support for this in the provider.

### New or Affected Resource(s)

* Maybe `auth0_custom_domain`?

### Potential Ter

[2020-10-05 17:48] maroux commented on #251
Looks like this was fixed by #255, except docs weren't updated in that PR. So - new issue for docs or ..?

[2020-10-07 06:08] xens commented on #70
Hi @alexkappa I'm wondering what's the status on that one, looks like that the hashicorp repo is now archived https://github.com/terraform-providers/terraform-provider-auth0 and lot sof people will probably be stuck on 0.14 as it's the latest version published there. Anything we can do to help on that topic ? (doc ?)

[2020-10-07 20:06] etwillbefine commented on #238
@alexkappa needs reopening

[2020-10-09 07:08] ddkserv opened #275 "Support for Get_Clients to resolve name to id"
### Description

Auth0 management API support that you can export all client in your tenant. This is useful to extract a client based on Name instead of id.

### New or Affected Resource(s)

Maybe a data source called `auth0_clients`

### Potential Terraform Configuration

[code]

OR

[code]

### References

Utilize the get clients in the Auth0 management API <https://auth0.com/docs/api/management

[2020-10-13 00:48] #251 closed

[2020-10-13 18:48] sseg commented on #160
I've got this error whether specifying or not specifying the flag in the tenant settings (since it gets passed by default in the PATCH). It seems to occur on my Auth0 enterprise tenants, but not those provisioned in the public cloud instances.

Do all flags need to be sent as defaults during an update-in-place? From my testing with the API this flags object seems to support partial updates without

[2020-10-14 04:15] mcalster commented on #205
Is there any time line on when this will be added to the provider?

[2020-10-17 21:51] mcalster commented on #275
@ddkserv I've made a PR to implement the feature since I've had a similar requirement. I'm unsure that this is a viable path to pursue.
Auth0 does not enforce unique names for clients/applications. This means that you can have multiple client matches for the same name.

One workaround could be to fail if a non unique name has been used (i.e. if more than one client matched the name).

Another appr

[2020-10-19 09:22] ddkserv commented on #275
Hi @mcalster, I am very happy that you did a PR. You are right that Auth0 does allow multiple client/application entries to have the same name. However when using the Auth0 deploy CLI (https://github.com/auth0/auth0-deploy-cli) then you have "unique application names"/unique client names. When working with mulitple tenants it does make sense to get clients/applications based on name rather than ID

[2020-10-19 13:52] mcalster commented on #275
If there are multiple clients with the same names, then we could use the
index in the list to target the specific client.

The question then becomes how do we ensure that a given client will have
the correct index? Sorting the list by a key could be an option, but that
doesn’t protect against clients being added and removed in a Way that
actually makes the index point to another client.

I prefer

[2020-10-19 14:05] ddkserv commented on #275
Hi @mcalster Sure, we should expect that the client names are unique and perhaps if there is multiple then pick top 1. Expecting client names are unique that goes very well in line with how Azure AD has implemented their setup where names are unique within a tenant. I have good contacts with Auth0 and will try and push for this as a feature request to ask that client/application names are unique w

[2020-10-19 14:50] mcalster commented on #275
Awesome.
I still think the prudent thing to do is the "fail". If you pick the first
one you could be setting I.e. an API managent instance up to login via the
wrong client and causing a production incident. Worst case of course ;-)

man. 19. okt. 2020 kl. 16.05 skrev ddkserv <notifications@github.com>:

--
-- Venlig Hilsen
Kim Alster

[2020-10-19 17:15] ddkserv commented on #275
@mcalster if you are so Crazy to Call your own client the same name as the Management API then yes... you can risk to get the system API instead of your own client. Fail or first in result from name filter is the kinda both right. I can understand the reason for fail since this is to be on the safe side.

[2020-10-19 18:13] mcalster commented on #275
I agree, but the same could happen for any other client.
I will add a formulation similar to this one: https://github.com/auth0/auth0-deploy-cli#make-sure-to-use-unique-application-names

[2020-10-20 14:33] rrjohnson85 opened #278 "Support newer releases of Terraform"
Is there a timeline for supporting newer versions of Terraform, such as 0.13.x?  It looks as though the provider only supports TF <= 0.12.x, and Terraform is already releasing alphas for 0.14.x.

[2020-10-21 08:38] lebaptiste opened #279 "Support Terraform data sources"
### Description

Aside Terraform resources, there is also another [data source](https://www.terraform.io/docs/configuration/data-sources.html) type which is roughly the readonly version of a resource.

That would be a great enhancement to this provider to include data source support. Since I have already worked on a terraform provider I am happy to submit a PR for it.

### New or Affected Resource

[2020-10-21 08:58] galkin commented on #265
@alexkappa, could you check https://github.com/alexkappa/terraform-provider-auth0/pull/262? It looks like this PR can help to resolve this issue.

[2020-10-22 00:50] HelenVimond opened #280 "Resources created by auth0_email and auth0_email_template can't be deleted or updated by terraform"
### Description

Resources created by auth0_email and auth0_email_template can't be deleted or updated by terraform.

Here is my script:

resource "auth0_email" "ses" {
  name = "ses"
  enabled = true
  default_from_address = "test@test.com"
  credentials {
    access_key_id = var.ses-access-key-id
    secret_access_key = var.ses-access-key-secret
    region = var.ses-region
  }
}

Even I just cha

[2020-10-24 16:24] mcalster commented on #275
@ddkserv I've added the check for "non uniqueness" of the client/application name and added documentation.

@alexkappa I've introduced a new folder: docs/datasources - I couldn't easily see how to extend the gendoc to handle data sources.

[2020-10-25 10:31] mcalster commented on #264
@alexkappa is there anything I can do to get further progress on this?

[2020-10-26 22:40] robotsrule opened #282 "Ability to set 'metadata' property on a connection"
### Description

I regularly add metadata to connections which we can then consume later in Auth0 rules. It does not appear that the terraform provider for Auth0 supports setting this property. I mistakenly thought it was the same as the 'configuration' property you can set on the options object, but that turned out not to be the same thing.

### New or Affected Resource(s)

* auth0_connection

##

[2020-10-27 06:27] shufo commented on #253
Same problem here. I'd appreciate if it could be solved...this is only unmanaged attribute in my project.

[2020-10-27 16:08] alexkappa commented on #253
Hi all, sorry for the delay here. Your investigation seems to be on point and it should give me enough to help fix this.

[2020-10-27 18:14] rabidscorpio commented on #253
That second link where I mentioned that the attribute should be a `slice` and not a `string` (since you can pass in a list of shas), that line is here: https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_client.go#L706

I was linking to the now archived hashicorp repo by mistake.

[2020-11-02 10:20] alexkappa commented on #233
Sorry folks, re-opening.

[2020-11-02 21:39] alexkappa commented on #233
After some investigation I am able to reproduce the issue. However the problem is a little more involved as I'd have hoped.

The root of the problem seems to be the UI setting at:
`https://manage.auth0.com/dashboard/eu/<my-tenant>/tenant/advanced`.

<img width="1043" alt="Screen Shot 2020-11-02 at 18 27 48" src="https://user-images.githubusercontent.com/1204095/97899371-85cbcf00-1d39-11eb-896c-cd9

[2020-11-03 08:52] galkin commented on #265
@alexkappa, any updates?

[2020-11-03 08:56] srenatus commented on #233
Indeed! 😓

Thanks for working on this!

[2020-11-03 22:01] kpurdon commented on #252
@MorrisonCole did you ever find a resolution for this. I just hit it as well. cc @alexkappa

[2020-11-03 23:28] MorrisonCole commented on #252
I think I just let Terraform apply the proposed changes since it was a development environment and nothing much to worry about. Can't remember clearly though - sorry!

[2020-11-04 17:20] kpurdon opened #284 "set_user_root_attributes missing for samlp auth0_connection"
### Description

From the management API docs for auth0_connection:

### Terraform Version

[code]

### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

[code]

### Expected Behavior

Should be able to use `set_user_root_attributes`

### Actual Behavior

Cannot set the value and the default ends up getting set overriding any existing setting.

### Steps to Reproduce

1.

[2020-11-04 18:40] kpurdon opened #286 "Support MFA (Guardian) Configuration"
### Description

Add support for the MFA configuration supported by the API https://auth0.com/docs/api/management/v2#!/Guardian.

<img width="978" alt="Screen Shot 2020-11-04 at 11 35 56 AM" src="https://user-images.githubusercontent.com/5130441/98154512-1f0df900-1e92-11eb-99b0-9d698d4c90f5.png">

### New or Affected Resource(s)

* auth0_guardian

### Potential Terraform Configuration

[code]

###

[2020-11-05 14:58] kpurdon commented on #280
I'll add another report case to this. My goal was to disable the default enabled `verify_email` so I created the following:

[code]

This oddly resulted in a `create` for multiple environments that I use this in. For each different things happened:

- for an env where the template was already disabled the resource was created
- for an env where the template was enabled I got a `400` for the empty

[2020-11-05 15:48] kpurdon opened #287 "Unexpected `password_history` in `auth0_connection` for `samlp`"
### Description

I'm seeing an unexpected `password_history` output for the `samlp` type of `auth0_connection`.

### Terraform Version

[code]

### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

[code]

### Expected Behavior

No passwords are relevant for a SAMLP connection.

### Actual Behavior

Seeing password_history in SAMLP diff

[code]

### Steps to Reproduce

1

[2020-11-05 19:23] kpurdon opened #288 "Display Name not being set when creating `auth0_connection` resources."
### Description

When creating or updating a new or existing auth0_connection resources the value of display name is not being set.

### Terraform Version

[code]

### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

[code]

### Expected Behavior

The display name should not be set.

### Actual Behavior

The display name is not set.

[code]

<img width="699" alt="Screen

[2020-11-05 19:29] kpurdon commented on #286
@alexkappa I'm happy to contribute this but would like some feedback first on the potential configuration. Thanks again for this project, it's been solid so far!

[2020-11-06 16:33] multani opened #289 "Unable to remove scopes on auth0_resource_server"
### Description

I created a resource server using an `auth0_resource_server`, with a few `scopes` configured.

After removing the `scopes` block, `terraform apply` says it will remove the scopes but they stay configured.

Subsequent `terraform apply` always show a plan where scopes will be removed, until new scopes are added (different plan), or scopes are manually removed from the Auth0 console.

[2020-11-09 22:06] robotsrule commented on #282
I've started trying to fix this myself, so far I've determined that the underlying library doesn't have the correct data type.  I submitted a PR to address this.  If it gets merged in, I can continue to try fixing it on this library.

https://github.com/go-auth0/auth0/pull/160

[2020-11-10 11:58] ertanden opened #292 "Optional and not modified attributes for User cause 400 Bad Request: The following user attributes cannot be updated"
### Description

Even though there are no changes in any of the `family_name, given_name, name, nickname, picture` attributes I get the following error, when there's a role change for the user. I would like to keep the `Sync user profile attributes at each login` setting and not really care about all those attributes. Is this a known problem and how can we fix that?

The error:

### Terraform Vers

[2020-11-11 17:11] blawlor commented on #254
Any suggested workarounds in the absence of a fix at the moment?

[2020-11-12 14:20] alexkappa commented on #289
Hi @multani, if I'm not mistaken, this is caused by the scopes being tagged as `json:",omitempty"`. This means empty slices don't get marshaled.

With go-auth0 v5 we should be able to finally overcome such limitations by handling the removal of scopes outside of the `Update` method.

[2020-11-16 14:09] #264 closed

[2020-11-17 16:20] joshk0 opened #294 "Importing auth0_custom_domain resource forces recreation"
### Description

I've imported an auth0_custom_domain resource (with some difficulty; the domain ID starting in `cd_` could _only_ be seen using the API explorer and not scummed from the UI.)

Since I had used TXT verification for the domain, I set `verification_method = "txt"` in my resource:

[code]

When doing a no-op plan, it wants to recreate the custom domain since verification_method was no

[2020-11-21 17:27] #284 closed

[2020-11-23 20:38] nickmelis commented on #59
Any progress on this one? I just had the very same problem described here.

[2020-11-24 15:02] nrmitchi opened #295 "`auth0_client` terraform state does not update on description change"
### Description
I have an `auth0_client`, and modified the `description`. The terraform state is not updated, meaning the modified resource re-appears in all subsequent `plan`'s.

### Terraform Version

[code]
### Affected Resource(s)

* auth0_client

### Terraform Configuration Files

### Expected Behavior
When the resource state in Auth0 is updated, the terraform state is updated.

### Actual Be

[2020-11-24 15:11] nrmitchi commented on #295
Looking further, this seems to only occur when the new description is missing/empty/null.

I suspect this may be the same root cause as #289 (`json:",omitempty"`).

[2020-11-24 22:04] rltvty opened #296 "Please add the ability to define hook dependencies"
### Description

Auth0 hooks allow the addition of dependencies which are NPM modules that can be used in the javascript.  It would be great if we could set the dependencies via the `auth0_hook` resource.

### New or Affected Resource(s)

* auth0_hook

### Potential Terraform Configuration

[code]

### References

The management API supports passing dependencies: https://auth0.com/docs/api/managem

[2020-11-25 17:56] #238 closed

[2020-11-27 17:02] jonathancychow opened #297 "Support to configure Microsoft AD to be on by default"
### Description

It seems it's not possible to define an argument in this resources so that I can set Microsoft AD under Connection to be on by default.

### New or Affected Resource(s)

* auth0_client

### Potential Terraform Configuration

[code]

### References

* #0000

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-

[2020-11-30 14:34] Chanonry opened #298 "Resource Server RBAC Settings not set ?"
### Description

First pass at creating a Resource Server through Terraform with some scopes. The server is created but Role Based Access Control is Disabled as is Add Permissions in the Access Token which defeats the point of defining scopes. The parameter to enable this is not obvious ?

### Terraform Version
Terraform v0.13.5
+ provider registry.terraform.io/-/aws v3.18.0
+ provider registry.te

[2020-11-30 17:12] alexkappa commented on #298
@Chanonry I'm not sure I understand the issue. Can you elaborate on what you are trying to achieve, what is expected, and what is happening instead?

The `resource_server` `scopes` (defined in your configuration) should be visible under the resource servers permissions tab. That's Applications > APIs > NK Resource Server ... > Permissions.

Perhaps what you're looking for is the [`client_grant`](h

[2020-11-30 17:17] alexkappa commented on #297
Hi @jonathancychow, thanks for submitting an issue. Can you elaborate on what you mean by on by default?

[2020-11-30 17:36] alexkappa commented on #269
Hi @nirvdrum, I believe the reason why authentication requests are not logged as regular requests do, has to do with [golang.org/x/oauth2](https://godoc.org/golang.org/x/oauth2).

This could be an area for improvement.

[2020-11-30 17:39] alexkappa commented on #59
Hi @nickmelis, the [Google OAuth2 connection documentation](https://registry.terraform.io/providers/alexkappa/auth0/latest/docs/resources/connection#google-oauth2) has been updated to mention a workaround for this issue. At this time, you'll need to import the connection in order to manage it through terraform.

[2020-11-30 17:55] alexkappa commented on #294
Hi @joshk0, thanks for submitting this issue.

With regards to making importing easier, perhaps there is something we can do - and that is creating a custom importer to allow importing by domain as well / instead.

Regarding the `verification_method`, I believe it is due to the API not returning that field in responses (see below). We could try to infer it based on the contents of `verification.me

[2020-12-01 07:57] Chanonry commented on #298
On the API settings page I want to ENABLE both the RBAC setting. The attached image shows the settings for the above resource as deployed which has both DISABLED
![output-onlinepngtools-3](https://user-images.githubusercontent.com/20876829/100712456-b0499000-33aa-11eb-9595-6cb57d044086.png)

[2020-12-02 00:54] adamu commented on #274
Nine votes and still valid.

[2020-12-02 20:59] cdb39 opened #299 "auth0_client refresh_token configuration not in documentation"
### Description
The provider documentation for the auth0_client here https://registry.terraform.io/providers/alexkappa/auth0/latest/docs/resources/client does not describe any mechanism to configure the client's `refresh_token` settings.

However, by looking at the source code here https://github.com/alexkappa/terraform-provider-auth0/blob/v0.16.1/auth0/resource_auth0_client.go#L467-L501 it seems

[2020-12-03 02:39] btmcnellis commented on #298
I actually just ran into this myself while using this provider for the first time. There's a disconnect between the language used in the dashboard and the language used in the Management API, on which this provider is based. On your resource server, you need to set `enforce_policies` to `true` and `token_dialect` to either `access_token` or `access_token_authz`.

[This article from the Auth0 docs]

[2020-12-03 10:24] Chanonry commented on #298
Spot on, thanks for the steer

[2020-12-03 10:24] #298 closed

[2020-12-03 11:00] alexinthesky opened #300 "TF 0.12 switch auth0 to alexkappa/auth0 GPG error"
### Description

terraform init throws GPG error :

### Terraform Version

terraform -v
Terraform v0.12.29

### Affected Resource(s)

provider

### Terraform Configuration Files

provider "alexkappa/auth0" {
  alias         = "xxxxx"
  domain        = "https://xxxxx.eu.auth0.com"
  client_id     = "xxxxx"
  client_secret = "xxxxxx"
  version = "=0.16.1"
}

[code]

### Expected Behavior

init goes

[2020-12-03 23:28] jsmitley opened #301 "Unable to use any version of provider > 0.14.0 with terraform 0.12.x"
### Description

The README file lists supported versions of terraform as 0.11 || 0.12.

However, any time I specify a provider.auth0.version greater than `~> 0.14`, I get a failure of:

[code]

**NOTE: I am able to install this provider's latest version on terraform 0.13.5**

### Terraform Version

[code]

### Affected Resource(s)

All

### Terraform Configuration Files

**_main.tf**
[code]

###

[2020-12-04 23:38] paulvonallwoerden opened #302 "Support Auth0 Actions"
### Description

Currently Auth0 has a new feature called **actions** in beta. These actions will "replace" the hooks & rules resources. However, as of now actions may not be managed via the api. This will probably change, when they exit beta.

As this feature will become important in the future, this issue exists to track further developments on the topic.

### New or Affected Resource(s)

* auth

[2020-12-05 00:43] #271 closed

[2020-12-05 16:16] jonathancychow commented on #297
Hi @alexkappa, I'm referring to the options under Connections as the follow picture, if the resource can specific one of those connections to be available when I apply the deployment that would be great.
![image](https://user-images.githubusercontent.com/31481322/101249485-2cc6d080-3715-11eb-88fe-4be9c60c0e58.png)

[2020-12-07 09:02] relu opened #303 "Cannot install latest version on Terraform v0.14"
### Description

Version 0.16.1 doesn't seem to resolve with Terraform v0.14.0, the latest version resolves to 0.15.2.

### Terraform Version

[code]

[code]

[2020-12-07 11:39] relu commented on #303
False alarm. I had a local override I forgot about :man_facepalming:

[2020-12-07 11:39] #303 closed

[2020-12-07 15:57] gagalago commented on #274
I am on it but I have some trouble to understand why tests are failing

[2020-12-08 16:41] alexkappa commented on #298
Hi @Chanonry, I believe what you need is to set the `enforce_policies` field. Could you try it and let me know if it works for you?

[2020-12-08 16:48] alexkappa commented on #302
Hi @paulvonallwoerden, thanks for filing this issue. Let's keep track of actions and get to it when they come out of Beta and their API becomes available.

[2020-12-08 16:55] alexkappa commented on #300
Hi @alexinthesky, the new terraform registry works with terraform 0.13+. You seem to be using 0.12.

[2020-12-08 16:59] alexkappa commented on #301
Hi @jsmitley, thanks for reporting! The `0.11 || 0.12` requirement is outdated. The new terraform registry requires at least 0.13.

Perhaps we could add a not for people still using 0.12 or earlier that a binary can be downloaded from this providers [releases](https://github.com/alexkappa/terraform-provider-auth0/releases/tag/v0.16.1) and configured manually by placing into `~/.terraform.d/plugins

[2020-12-08 17:01] alexkappa commented on #299
Thanks for reporting @cdb39! Would you be open to a PR?

[2020-12-08 17:06] alexkappa commented on #297
Perhaps what you need is the [`auth0_client_grant`](https://registry.terraform.io/providers/alexkappa/auth0/latest/docs/resources/client_grant)?

[2020-12-08 17:11] alexkappa commented on #296
Hi @rltvty, indeed it seems we missed this field from this provider. I notice that go-auth0 [Hooks](https://pkg.go.dev/gopkg.in/auth0.v5@v5.2.2/management#Hook) already supports dependencies so adding it here should be quite straightforward. Would you feel up for a PR?

[2020-12-08 17:33] alexkappa commented on #295
Thanks for reporting @nrmitchi, I can confirm the issue occurs when changing a value to its "zero" value (in this case `""`). See this gist on how I've verified: https://gist.github.com/alexkappa/adca2fbae286dabe1fcfce5e2682c544.

I am not sure however how this provider is supposed to handle this. Internally we rely on Terraform's [`ResourceData.GetOk`](https://pkg.go.dev/github.com/hashicorp/terr

[2020-12-08 17:38] alexkappa commented on #292
Hi @ertanden, the issue template would help me track down the root cause of the issue and be able to help you better. If you are still experiencing this problem, please consider updating the issue with what is asked in the template.

[2020-12-08 17:59] alexkappa commented on #288
Hi @kpurdon thanks for filing this in! It seems `display_name` was missing altogether from connections. I've made a PR to address this. Cheers!

[2020-12-09 00:43] #273 closed

[2020-12-09 00:55] rene00 commented on #169
Hi 👋 I believe we should be using `scripts` when defining `fetchUserProfile` as shown in the examples with in the oauth2 [documentation](https://auth0.com/docs/connections/social/oauth2).

`customScripts` should be used for DB connections. From the Connections API [docs](https://auth0.com/docs/api/management/v2/#!/Connections/post_connections):

An example of properties `customScripts` supports ca

[2020-12-09 01:14] rene00 commented on #160
Hi @vbabitskiy 👋 Could you provide the terraform config you're using that generates the 400 request? Thanks,

[2020-12-10 11:43] zanitete commented on #273
@LavaToaster did you find a workaround for this?

[2020-12-10 11:45] LavaToaster commented on #273
Since the resource is unaware of the parameter, we just enable it manually.

[2020-12-10 13:20] zanitete commented on #297
I think it's only possible to set the list of enabled clients from the connection resource: https://registry.terraform.io/providers/alexkappa/auth0/latest/docs/resources/connection#enabled_clients

[2020-12-11 16:18] #253 closed

[2020-12-11 18:17] Giaco9 commented on #278
Hi! we are starting to use terraform and we are very interested in automatically provision Auth0 resources with it. We would like to start with the newest version of Terraform, 0.14.2. Currently, it seems impossible to install the provider with that version. Are you planning to support any 0.14 Terraform version?

Thank you!

[2020-12-12 10:46] kvrhdn commented on #278
This Terraform provider can work fine with Terraform 0.13+. Terraform 0.13+ uses the registry for community-provided provider, check out the documentation here: https://registry.terraform.io/providers/alexkappa/auth0/latest
The _How to use this provider_ button at the top-right lists what you have to do to include the provider in your workspace.

As a quick test, I created a Auth0 rule with Terraf

[2020-12-12 12:06] Giaco9 commented on #278
Hi, thank you for your reply. I better checked my configuration and I found the problem. Really thank you!

[2020-12-13 03:37] davidski opened #306 "auth0_log_stream resource missing documentaiton"
### Description

The merge of https://github.com/alexkappa/terraform-provider-auth0/pull/270 brought support for the auth0_log_stream resource. This new resource does not appear on the registry docs at https://registry.terraform.io/providers/alexkappa/auth0/latest nor can I find documentation here in the source repo. I'd love to try out this resource but am not sure how to get started.

### Affect

[2020-12-15 00:44] #274 closed

[2020-12-15 06:37] adamu commented on #274
@alexkappa with  10 votes and an open PR, maybe your auto-closer was a bit aggressive here :-)

[2020-12-15 10:41] alexkappa commented on #278
Thank you @kvrhdn for clarifying! You are correct. I'll make sure we update the readme as well so.

[2020-12-15 10:52] alexkappa commented on #306
Hi @davidski, thanks for filing an issue for this! Until we have some examples documented, feel free to [have a look at the tests](https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_log_stream_test.go) on how to use log streams.

[2020-12-15 12:05] jsmitley commented on #301
Thanks @alexkappa ! We've been successfully using 0.14 using the previous method of specifying providers, I'll make a PR for the doc change you are specifying

[2020-12-15 13:43] rrjohnson85 commented on #278
My team was able to get this working with Terraform 0.13.x as well, and forgot to update the issue.

[2020-12-15 13:43] #278 closed

[2020-12-17 16:38] cdb39 commented on #299
Done https://github.com/alexkappa/terraform-provider-auth0/compare/master...cdb39:patch-1

[2020-12-25 01:31] RLKANG opened #308 "mobile attributes (ios and android) still not working in auth0_client (after new release)"
### Description
I am trying to use the auth0_client, specifically the ios and android parts, however I am not seeing the update in Auth0 after applying the change. I noticed that there was a similiar issue: https://github.com/alexkappa/terraform-provider-auth0/issues/253, which was resolved and was supposed to go into the new release (0.17.0), however for some reason was not included in the new re

[2020-12-25 10:12] alexkappa commented on #308
Hi @RLKANG, I can see the changes from the PR included in the release. It’s the file `auth0/resource_auth0_client.go` .

 Is it perhaps a different issue you are experiencing?

[2020-12-25 14:59] RLKANG commented on #308
Hmm, I was looking at https://github.com/alexkappa/terraform-provider-auth0/compare/v0.17.0...master and see the commit 'fix mobile properties defined badly' (e3c4790), which means that it wasn't included in the release, right? I may be understanding that part incorrectly.

The issue I am experiencing is that running a terraform apply does not cause any changes to made in Auth0, i.e I am not able

[2020-12-27 16:16] alexkappa commented on #308
Ah, okay I see there was another thing missing to get mobile working properly again. This (rather embarrassing) [commit](https://github.com/alexkappa/terraform-provider-auth0/commit/c1cd3234e4c8cac805b39190d483db8eb8ce6595) should do it :)

I've published with version [0.17.0](https://registry.terraform.io/providers/alexkappa/auth0/0.17.0) again since the change is already in the changelog. Please

[2020-12-27 16:56] RLKANG commented on #308
Great, thanks for looking into it!

I've removed copies of any providers, and ran a 'terraform init'. However, I am getting a checksum error:

Error: Failed to install provider

Error while installing alexkappa/auth0 v0.17.0: checksum list has unexpected
SHA-256 hash d1648189c8b38af982a1ac62f6d01edd0ccf4c2f419e68c6d5a74157494cdb72
(expected 4f15bef1e165a1a97567dd37630b05cd75adfba2abd9d7c6ff154326d

[2020-12-28 06:39] chrissng opened #309 "Failed to install provider v0.17.0"
### Description

Failed to install terraform provider v0.17.0

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Expected Behavior

Provider should be installed successfully.

### Actual Behavior

[code]

### Steps to Reproduce

1. `terraform plan` or
2. `terraform init -upgrade`

### Debug Output

### Panic Output

### Important Factoids

### References

* #0000

### C

[2020-12-28 09:13] alexkappa commented on #308
Sorry about this everyone, pushing 0.17.1 to resolve the hash mismatch. Will be ready in a few minutes

[2020-12-28 09:19] alexkappa commented on #309
Hi @chrissng, thanks for reporting. This was my error, please use 0.17.1 instead.

[2020-12-28 15:05] RLKANG commented on #308
Great, appreciate it. The provider seems to be working for me now.

Although I am running into another issue now. I see in the docs that the android and ios parameters are labeled as 'Optional'. However, if I exclude one of them (i.e under Android I only have 'app_package_name' and not 'sha256_cert_fingerprints'), it gives me an error of:

400 Bad Request: Payload validation error: 'Expected type

[2020-12-30 12:16] alexkappa commented on #308
I think this is a bug, @RLKANG. I will look into it shortly. The values should in fact be optional (so long as one of the two is specified).

[2020-12-30 14:32] alexkappa commented on #308
Okay, 0.17.2 should overcome these limitation. Please give it a try and let me know!

[2020-12-30 20:22] RLKANG commented on #308
Yeah, it works as expected now. Thanks so much for your support. Happy new year!

[2020-12-30 20:23] #308 closed

[2020-12-31 01:00] #275 closed

[2020-12-31 04:06] chrissng commented on #309
That's great! Thank you! closing this

[2020-12-31 04:06] #309 closed

[2021-01-05 18:49] kpurdon commented on #287
@alexkappa is this resolved ... I feel like I remember a PR for this getting opened?

[2021-01-07 12:36] arevenes commented on #160
Having the same issue trying, not even applying the flag, just trying to set sandbox_version to 12, see TF below:

`
resource "auth0_tenant" "tenant" {
  sandbox_version  = "12"
}
`

Response: `400 Bad Request: You are not allowed to set flag 'disable_clickjack_protection_headers' for this tenant.`

Did check that the application has the **update:tenant_settings** permission.

[2021-01-08 20:00] woz5999 commented on #286
@alexkappa i could also really benefit from this feature.

[2021-01-08 21:25] woz5999 commented on #299
@alexkappa any update on this?

[2021-01-11 19:03] woz5999 commented on #296
i also need this. i plan to submit a PR this week.

[2021-01-11 19:18] woz5999 opened #310 "Add support for MFA options in connection resource"
### Description

Add support for MFA options in connection resource.
Support already seems to exist in the SDK: https://github.com/go-auth0/auth0/blob/master/management/connection.go#L170

### New or Affected Resource(s)

* auth0_connection

### Potential Terraform Configuration

[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add

[2021-01-11 19:18] woz5999 commented on #310
I plan to submit a PR for this this week

[2021-01-11 19:34] woz5999 opened #311 "Add support for additional client refresh_token configurations"
### Description

These api fields for client refresh_token are not currently supported:
[code]

### New or Affected Resource(s)

* auth0_client

### Potential Terraform Configuration

[code]

### References

* https://github.com/go-auth0/auth0/issues/183

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issue

[2021-01-12 01:10] #280 closed

[2021-01-12 15:06] kpurdon commented on #280
@alexkappa FYI think this is still an issue. I'll try and find some time to look into it but have a few other higher priority (for me) things in the queue in issues/PRs here first.

[2021-01-13 01:16] #287 closed

[2021-01-13 09:52] cihati opened #315 "Document `auth0_client` `initiate_login_uri`"
It's added via https://github.com/hashicorp/terraform-provider-auth0/pull/2 but docs were not updated.

[2021-01-14 13:37] austinrivas opened #317 "Line connection cannot set Channel ID and Channel Secret"
### Description

I am using your awesome provider via pulumi  https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/auth0/#Provider

It seems like the Line connection strategy is missing some options, namely the `channel_id` and `channel_secret`.

https://github.com/alexkappa/terraform-provider-auth0/blob/master/auth0/resource_auth0_connection.go#L235

I cannot verify if the auth0 management api

[2021-01-16 01:23] #286 closed

[2021-01-18 21:11] sseg opened #319 "windowslive auth0_connection misconfigures resources"
### Description

### Terraform Version

[code]

### Affected Resource(s)

* auth0_XXXXX

### Terraform Configuration Files

[code]

### Expected Behavior

### Actual Behavior

### Steps to Reproduce

1. `terraform apply`

### Debug Output

### Panic Output

### Important Factoids

### References

* #0000

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.

[2021-01-18 21:12] sseg commented on #319
Closing and re-opening--I seem to have lost the issue content.

[2021-01-18 21:12] #319 closed

[2021-01-18 21:18] sseg opened #320 "windowslive auth0_connection misconfigures resources"
### Description

Connection resources with `windowslive` strategy do not send options parameters to the Auth0 management API. It seems this may be intentionally unsupported https://github.com/alexkappa/terraform-provider-auth0/blob/v0.17.2/auth0/structure_auth0_connection.go#L271

### Terraform Version

[code]

### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

[code]

[2021-01-18 21:18] sseg commented on #319
superseded by #320

[2021-01-22 01:24] alynielson opened #322 "Unable to clear out an existing value in default_audience in auth0_tenant"
**Description**
I set `default_audience` for an `auth0_tenant` resource to a url. It turned out that I needed to not set that property at all, as it was causing unexpected behavior in my application. I removed the url and set `default_audience = null` in the resource in main.tf. No change showed up in `terraform plan`, and nothing was changed in `terraform apply`, so the tenant's default audience

[2021-01-26 10:55] #311 closed

[2021-01-26 23:12] dancrumb opened #323 "Auth0 Provider not picking up environment variables"
### Description

The Auth0 provider doesn't seem to be picking up the `AUTH0_DOMAIN`, `AUTH0_CLIENT_ID`, `AUTH0_CLIENT_SECRET` environment variables.

### Terraform Version
[code]

### Affected Resource(s)

All resources (Provider issue)

### Terraform Configuration Files

This is a CDK-TF generated configuration.

The relevant section is

[code]

I actually had to modify the `.gen/providers/auth0

[2021-01-26 23:13] dancrumb commented on #323
I noticed in `auth0/provider.go` that you have

[code]

Shouldn't the values all be `Optional: true`, since there's a `DefaultFunc`?

[2021-01-27 00:17] dancrumb commented on #323
Ummmm.... my bad - this is entirely user error

[2021-01-27 00:17] #323 closed

[2021-01-27 18:00] o1da commented on #274
I think it can fit more under `auth0_tenant` because there is already the error and redirect page config which is similar.

[2021-01-29 15:26] epintos commented on #169
This works for me if I want to create a custom connection for Slack

[code]

[2021-01-30 21:48] austinrivas commented on #302
Great to hear, I've been using them in my dev stacks and they are big improvement over rules.

The TS support alone is enough to make the switch imo.

[2021-02-02 04:29] austinrivas commented on #317
Hello, is there anything that I can to help get my pr merged?

[2021-02-03 13:31] apamildner opened #325 "Removing all enabled_clients from an auth0_connection not honored"
### Description
Removing *all* enabled clients from an auth0_connection resource does not work as expected. Clients are still enabled.

### Provider Version

[code]

### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

####  Steps to Reproduce
Apply this configuration:
[code]
Then apply this:
[code]

### Expected Behavior

The connection should have no enabled clients

[2021-02-03 13:49] apamildner commented on #325
I created a PR that solves this.

[2021-02-04 03:56] kpurdon commented on #287
@alexkappa checking in on this.

[2021-02-04 03:57] kpurdon commented on #286
@alexkappa checking in on this.

[2021-02-05 11:15] austinrivas commented on #317
I have confirmed that the line connection also uses `client_id` `client_secret`.

[2021-02-06 20:10] mcalster commented on #275
@alexkappa It seems that no data sources are being allowed into the releases. Is that due to a decision not to support that terraform capability in this provider? If so, please be explicit about it, so people don't waste their time trying to add it.

[2021-02-07 00:41] #294 closed

[2021-02-08 13:08] BilelAouiss opened #328 "auth0_connection with google-apps strategy"
resource "auth0_connection" "my_connection" {
  name                 = "my_connection"
  strategy             = "google-apps"
  is_domain_connection = false

  options {
    allowed_audiences = ["myDomain.com"]
    scopes            = ["email", "profile"]
    api_enable_users  = true
    domain = "myDomain.com"
    tenant_domain ="myDomain.com"
  }
}

But i get : 400 Bad Request: undefined is not

[2021-02-10 01:40] #317 closed

[2021-02-10 23:27] alephno commented on #160
I'm seeing this error with an enterprise tenant using the following configuration:

`resource "auth0_tenant" "default" {
    allowed_logout_urls = [
      "http://mysite/logout"
  ]
}`

The first apply is successful, subsequent applies fail with `400 Bad Request: You are not allowed to set flag 'disable_clickjack_protection_headers' for this tenant.`

[2021-02-11 08:44] BilelAouiss opened #330 "auth0_connection with google-apps strategy"
resource "auth0_connection" "my_connection" {
name = "my_connection"
strategy = "google-apps"
is_domain_connection = false

options {
allowed_audiences = ["myDomain.com"]
scopes = ["email", "profile"]
api_enable_users = true
domain = "myDomain.com"
tenant_domain ="myDomain.com"
}
}

But i get : 400 Bad Request: undefined is not a valid google apps domain.

Here domain and tenant_domain are ignored

[2021-02-14 00:42] #300 closed

[2021-02-14 00:42] #292 closed

[2021-02-14 12:58] jsmitley commented on #301
I see the docs are already changed, so I'm going to close this issue.

[2021-02-14 12:58] #301 closed

[2021-02-16 00:40] #297 closed

[2021-02-16 11:09] Jujulego opened #332 "auth0_client.client_secret is empty"
### Description

The property `client_secret` is always empty in created apps.

### Terraform Version

[code]

### Affected Resource(s)

* auth0_client

### Terraform Configuration Files

[code]

### Expected Behavior

Output `e2e-client-secret` should contain client's secret

### Actual Behavior

Output `e2e-client-secret` contains an empty string

### Steps to Reproduce

1. `terraform apply`

##

[2021-02-16 13:37] Jujulego commented on #332
I solved this, the problem came from an update of the Management API : now the scope `read:client_keys` is needed to get keys ...
Maybe it could be interesting to add this to the documentation ?

[2021-02-16 22:35] nikhils5501 commented on #330
Facing the same problem. Any solution for this?

[2021-02-16 22:51] ns0092 opened #334 "`auth0_connection` 400 Bad request for google-apps strategy"
### Terraform Version
`0.12.29`

[code]
### Affected Resource(s)

* auth0_connection

### Terraform Configuration Files

[code]

### Expected Behavior

Creation of Google connection on auth0

### Actual Behavior

Error: 400 Bad Request: undefined is not a valid google apps domain
### Steps to Reproduce

1. `terraform apply`

### Debug Output

[code]

### Important Factoids

##### `Unsupported conn

[2021-02-17 07:43] BilelAouiss commented on #330
No solution right now!!

[2021-02-21 23:12] mattmillen888 opened #336 "Add enable_sign_in_with_apple"
### Description
Is there any plan to add enable_sign_in_with_apple & enable_sign_in_with_facebook under:

native_client > Advanced Settings > Device Settings > Enable Sign In with Apple
native_client > Advanced Settings > Device Settings > Enable Sign In with Facebook

So i guess it would be something like:

  mobile {
    ios {
      enable_sign_in_with_apple    = true
      enable_sign_in_with_f

[2021-02-21 23:15] mattmillen888 opened #337 "infinite_idle_token_lifetime/infinite_token_lifetime/idle_token_lifetime not longer work?"
Have these features been deprecated?

  refresh_token {
    infinite_idle_token_lifetime = true
    infinite_token_lifetime = false
    idle_token_lifetime = 1296000
  }

as i now get:
An argument named "infinite_token_lifetime" is not expected here.
An argument named "idle_token_lifetime" is not expected here.
An argument named "infinite_idle_token_lifetime" is not expected here.

when i do terra

[2021-02-22 06:56] mattmillen888 opened #338 "auth0_tenant - Issue"
Im not sure if auth0_tenant is currently able to be used or I just have the config incorrect.

resource "auth0_tenant" "tenant" {

  default_audience  = local.users_api_identifier
  default_directory = "Username-Password-Authentication"

  friendly_name = local.friendly_name
  picture_url   = local.picture_url
  support_email = local.support_email
  support_url   = local.support_url
  allowed_logo

[2021-02-22 06:59] #338 closed

[2021-02-22 11:06] sureshkrishnan-mr opened #339 "Deploy the Twitter connection via Terraform"
Deploy the Twitter connection via Terraform  (twitter social registration).

It looks like terraform for auth0 twitter details is not working as intended (I can see google-oauth2 and facebook working fine though). It always reports that terraform plan will update the twitter connection, the terraform apply tries to update it but no changes go through.

The terraform config is set correctly from ou

[2021-02-24 12:53] mmf55 opened #340 "Get "origin_domain_name" attribute from the "auth0_custom_domain" resource"
### Description

Allow "origin_domain_name" to be accessible as an attribute in "auth0_custom_domain" resource. This will allow the configuration of the custom domain with a self-managed certification, for instance in AWS CloudFront.
The value is currently available in the [Get Custom Domain by ID](https://auth0.com/docs/api/management/v2#!/Custom_Domains/get_custom_domains_by_id) in the Auth0 Man

[2021-02-24 20:32] kpurdon commented on #337
Maybe related, though I do have the ability to use the fields. On 0.19.0 I'm now seeing the following when not specifying either of these values:

[code]

I'm able to set the values to their defaults (0, true) and see no diff, but I'd expect these to be optional.

My replication path:

- do not have them set in terraform
- plan, see the output above
- set them to output above, see `2591999 -> 0`
-

[2021-02-24 20:35] kpurdon commented on #337
@alexkappa I'm going to start looking into this, but does anything recent spark your memory on the terraform or go side?

[2021-02-25 13:19] mmf55 commented on #340
This issue #227 could be a good solution for this with the plus of having the custom domain verification being made in terraform. The endpoint [Auth0 Post Verify](https://auth0.com/docs/api/management/v2#!/Custom_Domains/post_verify) already have both "cname_api_key" and "origin_domain_name" attributes.